[2018-12-14 22:21] vorburger opened #5 "Use BOM to avoid <version>${shamrock.version} (and <scope>provided)"
It looks like [there is a Shamrock BOM](https://github.com/jbossas/protean-shamrock/blob/master/bom/pom.xml).

How about we use that instead of having to plaster `<version>${shamrock.version}` and `<scope>provided` everywhere?

Raising this as an issue instead of directly a PR to get reactions whether this is desired or for some reason considered a bad idea.

[2018-12-19 12:25] #5 closed, assigned to nobody

[2018-12-20 15:34] gsmet opened #10 "Declare the private Protean repositories"
Otherwise the released artifacts can't be found unless you modify your settings.xml.

We also have to declare the `<pluginRepositories>`.

We don't have a parent currently, so either we declare one and have the repositories there or we will need to declare them on every quickstart.

I would lean towards having a parent with just the repositories information so that the quickstarts pom files stay c

[2018-12-24 15:29] gsmet opened #13 "Pom files should be indented consistently"
Some of the pom files are indented with 2 spaces and some with 4 spaces. It makes it a bit tedious to copy/paste things from one to another.

I would vote for making it consistently 4 spaces and reformat everything.

It should be done when we don't have pull requests pending to avoid conflicts.

[2018-12-26 09:11] #10 closed, assigned to nobody

[2019-01-16 19:43] jmtd opened #23 "404 at /hello with getting-started quickstart"
Fresh RHEL 7.6 (server) installation, installed java 1.8 from RHEL, mvn 3.6.0 from apache, cloned this repo, set up ~/.m2/settings.xml according to the getting-started document, ran `mvn compile shamrock:dev`, got a listening webserver, but the endpoint is not working:

[code]

The latter (/) is not expected to work but included for completion's sake. I have verified that this is indeed the quicks

[2019-01-17 14:06] jmtd opened #24 ""address already in use" doesn't fail a compile"
When the chosen port is not available to bind to, maven still considers the compile a success. From the  getting-started sub-directory:

[code]

IMHO this should fail the build.

[2019-02-19 02:13] kameshsampath opened #40 "Adding a Knative quickstart"
Extending an existing greeter quickstart to provide a knative serving quick start that shows end to end build to deploy

[2019-02-24 03:48] jclingan opened #47 "Replace Protean with Quarkus"
The new name is here! Replace all references to protean with quarkus . Rename this repository as well.

[2019-03-01 17:35] #47 closed, assigned to nobody

[2019-03-05 11:59] #40 closed, assigned to nobody

[2019-03-06 10:48] #23 closed, assigned to nobody

[2019-03-06 15:26] sberyozkin opened #69 "getting-started-native needs to have Dockerfile inside src/main/docker"
Currently it is in the root directory

[2019-03-07 02:59] starksm64 opened #70 "TokenSecuredResource#helloShouldDeny(SecurityContext) has wrong annotation"
One of the solution method has an incorrect `@PermitAll` annotation that should have been `@DenyAll`:

[code]
Should be:
[code]

The associated `TokenSecuredResourceTest#testHelloDenyAll` needs to be updated to expect a HttpURLConnection.HTTP_FORBIDDEN rather than HttpURLConnection.HTTP_OK.

[2019-03-07 18:08] vorburger opened #75 "Add Gradle"
started in https://github.com/quarkusio/quarkus-quickstarts/compare/master...vorburger:gradle

currently blocked by https://github.com/quarkusio/quarkus/issues/1323

@stalep FYI

[2019-03-10 08:41] dansiviter opened #84 "Permit Launching Directly in IDE"
As it stands, the maven plugin generates a `io.quarkus.runner.GeneratedMain` which `io.quarkus.runtime.Quarkus` calls.  Unfortunately, this means the `main(...)` class cannot be called directly within the IDE so does not get any of the benefit of debugging and profiling.

The only way to debug is to run via Maven and remote attach which is onerous.

[2019-03-10 08:55] dansiviter opened #85 "Injecting using 'javax.inject.Provider' into JAX-RS Resource fails build"
Quarkus Version: 0.11.0
Maven Version: 3.6.0
Java Version: 1.8.0_191

While using `io.quarkus:quarkus-smallrye-jwt` and performing the following:

[code]

The build fails with:
[code]

**Workaround**
Use `javax.enterprise.inject.Instance`

[2019-03-10 09:06] dansiviter opened #86 "Resources defaulting to ApplicationScoped"
Quarkus Version: 0.11.0
Maven Version: 3.6.0
Java Version: 1.8.0_191

It appears on build that JAX-RS resources are defaulting to `@ApplicationScope`. e.g.:

[code]
Is resulting in a message:
[code]

However, ReSTEasy states:

<sup>See [here](http://docs.jboss.org/resteasy/docs/3.6.3.Final/userguide/html_single/index.html#d4e2782).</sup>

Also, there is also a question regarding "unrecommended usa

[2019-03-10 09:09] dansiviter commented on #86
Apologies, opened in wrong project!

[2019-03-10 09:09] #86 closed

[2019-03-10 09:10] dansiviter commented on #84
Apologies, opened in wrong project.

[2019-03-10 09:10] #84 closed

[2019-03-10 09:14] dansiviter commented on #85
Apologies, open in wrong project.

[2019-03-10 09:14] #85 closed

[2019-03-10 11:02] cescoffier commented on #70
Fixed in master.

[2019-03-10 11:02] #70 closed

[2019-03-10 11:39] dalexandrov opened #88 "Maven lifecycle"
Hi!

I've tried to play with Quarkus but the very first start of getting started project gave me this:
https://gist.github.com/dalexandrov/8a0de7636a177c7fb36eddf93c69ed99

With the command mvn compile qaurkus:dev the project has started.

If the idea is to follow mvn lifecycle may be it will be good idea to stick it to mvn package?

Still the project looks awesome!!

[2019-03-10 11:47] cescoffier commented on #88
Can you check the maven version you are using?

[2019-03-10 11:52] dalexandrov commented on #88
Oh, it was Idea's bundled 3.3.9. As I switched manually to 3.6.0 it worked like charm!

[2019-03-10 12:06] #88 closed

[2019-03-11 08:43] cescoffier commented on #69
I've a PR fixing this: #87

[2019-03-11 15:28] #69 closed

[2019-03-11 15:45] vorburger commented on #75
quarkusio/quarkus#1323 is now fixed, and when there is a new Quarkus 0.12.0 release I'll bump the versions in getting-started/build.gradle of master...vorburger:gradle and raise a PR from that branch.

[2019-03-11 18:14] vorburger commented on #75
@jnizet given your https://github.com/quarkusio/quarkus/pull/1403, shout via comments here if you have an feedback on https://github.com/quarkusio/quarkus-quickstarts/compare/master...vorburger:gradle ... (no PR actually raised yet, as waiting for release, or if you prefer I could raise a DRAFT PR that you can edit?).

[2019-03-11 18:31] jnizet commented on #75
@vorburger My feedback would be to rey to avoid `apply plugin xxx`, and instead do as I suggest in https://github.com/quarkusio/quarkus/pull/1403.

Applying plugins imperatively that way is discouraged for a long time by Gradle in favor of using the plugins block.

The main reasons are that
- it's simple (at least when the plugin is deployed in the gradle plugin central, otherwise you need to adap

[2019-03-12 05:18] mhewedy opened #93 "Test Entities with Panache"
I tried to test Entities as separate from service and resrouce layers, but I got `ContextNotActiveException`.

Here's the simple test case:

[code]
And the stack trace:

[code]
Here's the patch file
[#93_Test_Entities_with_Panache.patch.zip](https://github.com/quarkusio/quarkus-quickstarts/files/2955261/93_Test_Entities_with_Panache.patch.zip)

[2019-03-12 05:55] mhewedy commented on #93
I noticed that, arc.RequestContext#destory and RequestContext#deactivate are being called too early. which is being called `UndertowDeploymentTemplate`

[2019-03-12 10:11] gsmet commented on #93
@mhewedy could you share your project so that we can reproduce it?

[2019-03-12 14:39] eador opened #94 "quarkus:dev maven target does not support spaces"
If the path where your project lives has a space in it quarkus:dev will fail to start up the application.

For example:
~/te st/quarkus-quickstarts/getting-started . <-- Will not work
~/test/quarkus-quickstarts/getting-started  <-- Will work

[2019-03-12 14:50] gsmet commented on #94
@eador I don't think the issue is specific to the quickstarts. Could you report it on the main project? With the error you have.

[2019-03-12 17:30] eador commented on #94
Moved issue to main project.

[2019-03-12 17:30] #94 closed

[2019-03-14 06:17] mhewedy commented on #93
Sorry for delay..

I have 2 test Classes;
One testing the service layer (and it works fine)
The other tests the persistence layer (via Panache directly) and it fails with the specified error above.

Somethings I have noticed that might be out of context:
1. I had to put @Transaction annotation on the Service Class method (even the read-only) so that the test case pass.
2. If I don't add the @Trans

[2019-03-14 10:57] jpechane opened #98 "kafka-quickstart should use application.properties instead of microprofile.properties"

[2019-03-16 02:41] tMatSuZ opened #105 "hibernate-orm-panache-resteasy occurred duplicate key Error"
I executed `mvn compile quarkus:dev`
hibernate-orm-panache-resteasy occurred duplicate key Error.
I think import.sql has been run multiple times.

java and maven version
[code]

And the stack trace:
[code]

[2019-03-18 23:00] targeter21 opened #110 "hibernate-orm-resteasy occurred duplicate key Error"
Ran the `quarkus:dev` mvn plugin target and it looks like the import.sql is being run twice. Server still starts up successfully however.

**Output:**
[code]

[2019-03-18 23:00] targeter21 commented on #110
Might be an issue with Hibernate as the panache example is also showing this: https://github.com/quarkusio/quarkus-quickstarts/issues/110

[2019-03-18 23:01] targeter21 commented on #105
#110

[2019-03-18 23:18] gsmet commented on #110
It's been fixed in master here: https://github.com/quarkusio/quarkus/issues/987 .

0.12.0 will be released on Wednesday.

[2019-03-18 23:18] #110 closed

[2019-03-18 23:18] gsmet commented on #105
It's been fixed in master here: https://github.com/quarkusio/quarkus/issues/987 .

0.12.0 will be released on Wednesday.

[2019-03-18 23:18] #105 closed

[2019-03-18 23:20] gsmet commented on #98
It's already fixed in the development branch: https://github.com/quarkusio/quarkus-quickstarts/tree/development/kafka-quickstart/src/main/resources .

Will be pushed to master on Wednesday when we release 0.12.0.

Thanks!

[2019-03-18 23:20] #98 closed

[2019-03-21 16:14] vorburger commented on #75
@jnizet I've done this in commit be5712a3537612d5e540eaf8dbdcd9a717924e65 on #90 - would you like to review?

This happened in today's commit 9743fd7dbba43041598150b3b72dad24af4394b7 on #90 - now ready for merge, from my side.

[2019-03-21 18:52] kameshsampath opened #111 "RestAssured configuration for v0.12.0 changes"
https://github.com/quarkusio/quarkus/issues/1627, the test cases of all the quick starts needs to be updated with `RestAssured.baseURI` setting

[2019-03-22 04:21] kameshsampath opened #112 "Improve Knative Quickstart"
Improve Knative Quickstart to:

1. Upgrade to v0.12.0
2. Improve on docker build
3. Use official docker builder images

@cescoffier - can you please assign this task to me ?

[2019-03-22 06:56] cescoffier commented on #112
Thanks @kameshsampath to move this forward!

[2019-03-22 07:29] cescoffier commented on #111
I believe it was a configuration issue? Can we close it?

[2019-03-22 08:19] kameshsampath commented on #111
Yes @cescoffier. Since you will have another PR to track test case

[2019-03-22 08:19] kameshsampath commented on #111
Thank you

[2019-03-22 08:33] #111 closed

[2019-03-25 03:32] kameshsampath commented on #112
@cescoffier - do I need to send the PR to `development` branch or to `master` ?

[2019-03-25 07:00] cescoffier commented on #112
`master` is ok as it should work on Quarkus 0.12.0 (can you confirm this BTW?)

[2019-03-25 13:05] alonsoir opened #116 "A problem when i try to run oc"
Following steps from [official link](https://quarkus.io/guides/kubernetes-guide.html), an error happened. I am trying to push to openshift.

`~/quarkus-apps> oc new-build --binary --name=quarkus-quickstart -l app=quarkus-quickstart
    * A Docker build using binary input will be created
      * The resulting image will be pushed to image stream "quarkus-quickstart:latest"
      * A binary build wa

[2019-03-25 15:03] cescoffier commented on #116
How did you run OpenShift?

[2019-03-25 17:45] alonsoir commented on #116
Ok, i can't login with my home user. I will check with IT guys to run with the adequate user/pass.

[2019-03-25 17:45] #116 closed

[2019-03-26 09:06] kameshsampath commented on #112
I see that is working with v0.12.0

[2019-03-26 12:56] Karm opened #118 "fabric8 docker-maven-plugin does not handle proper shutdown of Postgres"
Hello,

Apparently if one runs more than one test that uses Postgres in succession, it does not land well, see [Logs](#Logs).

We have been successfully using Github's [Docker integration for allocating and deallocating Postgres not only as a Docker container](https://github.com/web-servers/db-allocator/blob/master/src/main/java/org/jboss/qa/db/PostgreContainerAllocator.java#L56).
It sports
 * act

[2019-03-26 13:02] damianoneill opened #119 "Address already in use"
Hi, working through https://quarkus.io/guides/building-native-image-guide running the following command;

[code]

Results in

[code]

My listening port list is

[code]

Can you tell me what port is causing the problem and how I modify the configuration to change the conflicting port?

$ sw_vers
ProductName:	Mac OS X
ProductVersion:	10.12.6
BuildVersion:	16G1815

$ java -version
java version "1.8.0

[2019-03-26 16:33] kameshsampath commented on #119
@damianoneill
there might be an application running on port `8081` which by default used by Quarkus test.  You can overcome this issue by adding a application property `quarkus.http.test-port`, you can also do the same via maven surefire plugin as shown below:

[code]

[code]

[2019-03-26 16:42] damianoneill commented on #119
Thankyou @kameshsampath that resolved the issue, macmnsvc (McAfee AV) was listening on that port.

[2019-03-26 16:42] #119 closed

[2019-03-29 13:46] freedev opened #124 "Build with java 12 fails"
Just followed the guide:

     git clone https://github.com/quarkusio/quarkus-quickstarts.git
     cd quarkus-quickstarts
     mvn package

During the build I had this error:

[code]

[code]

[2019-03-29 14:47] dmlloyd commented on #124
Could you run Maven with the `-e` flag and post the stack trace?

[2019-03-29 15:39] starksm64 commented on #124
It was not a useful trace, so I used `mvn -Dmaven.surefire.debug test` and caught the excpetion in RuntimeRunner#run. Its printStackTrace output was:

[code]

[2019-03-29 21:30] dmlloyd commented on #124
So this is definitely related to https://github.com/quarkusio/quarkus/issues/1534 .

[2019-03-30 02:50] richsanram opened #125 "Hibernate - Entity Manager is not being scoped"
I got the next error, with a custom project and also with hibernate-orm-panache-resteasy project, so it's clear that it does not have nothing related to my own code.

At the start of the server, the log shows the next message:
20:41:06,658 INFO  [org.hib.orm.beans] HHH10005002: No explicit CDI BeanManager reference was passed to Hibernate, but CDI is available on the Hibernate ClassLoader.

Then w

[2019-04-02 06:54] burrsutter opened #127 "add .dockerignore to quickstarts"
For a faster "docker build"

[2019-04-02 15:08] freedev commented on #124
I've executed `mvn -e package` this is the result:

[code]

[2019-04-02 18:50] kameshsampath commented on #112
@cescoffier  - any idea when this will get merged?

[2019-04-02 19:55] freedev commented on #124
I've executed `mvn -e package` this is the result:

[code]

[2019-04-03 18:13] richsanram commented on #125
I see now that it's related to an existing issue, about Panache not working with async controllers, using CompletionStage return type and lambdas with CompletableFuture.supplyAsync

[2019-04-04 17:04] mhewedy commented on #93
Any updates on this?

[2019-04-08 16:09] vorburger opened #136 "Version Bump ignores getting-started/build.gradle"
I just noticed that the 8af8b36ee17a9d396369b99505638029e9a55fa7 _[RELEASE] - Bump version to 0.13.0_ which @gsmet and @cescoffier did earlier today missed to bump the version from 0.12.0 to 0.13.0 in quarkus-quickstarts/getting-started/build.gradle

I've raise PR #137 to manually fix it, but perhaps on the next bump whatever script is (presumably) used to do the release could be adjusted to do it

[2019-04-08 16:23] vorburger commented on #75
#90 was merged a while ago, so closing this now.  (But note new #136.)

[2019-04-08 16:23] #75 closed

[2019-04-08 16:29] vorburger opened #138 "Add CI for PRs to QuickStarts"
Perhaps it would be useful to validate all PRs proposed to this repo (Quick Starts) by CI?

May be that would caught https://github.com/quarkusio/quarkus/issues/1918 if https://github.com/quarkusio/quarkus-quickstarts/commit/8af8b36ee17a9d396369b99505638029e9a55fa7 was run through a PR with CI.

Such a CI job could also run the Gradle Getting Started (see #136).

Just a thought.

[2019-04-08 16:38] gsmet commented on #138
So, I'm all for getting back CI on quickstarts.

The issue is that we don't publish the snapshots right now so it's not as easy as it looks.

We run a full quickstart testing before releasing but the bootstrap issue apparently needs some special circumstances to happen (I still can't reproduce it).

For now, the version bump is directly pushed by a script so it's not dealt with as a PR but tests a

[2019-04-08 17:10] vorburger commented on #138
@gsmet but we don't have to, or at least not just to enable CI, right? What I'm suggesting is really "just" CI for all PRs, nothing per se specific to version bump release processes, and without SNAPSHOT support...

Because the POMs in this repo (quickstarts) do NOT actually use 999-SNAPSHOT (may be they used to, but at least on current master they do not). So a future release version bump is "jus

[2019-04-10 12:38] rsvoboda opened #142 "Generic package names, GreetingResource / GreetingService overused"
Following classes have too generic package name, other packages indicate related technology or quickstart (QS) .

Do we need so many QS with GreetingResource.java / GreetingService.java ?

[code]

[2019-04-11 12:18] rsvoboda opened #144 "Various base images for example Docker files"
Example Docker files are using various base images, including legacy swd847.

What should be the default ?
 - [fabric8/java-jboss-openjdk8-jdk](https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/resources/templates/dockerfile-jvm.ftl#L17) for JVM based examples
 - [registry.fedoraproject.org/fedora-minimal](https://github.com/quarkusio/quarkus/blob/master/devtools/common/src

[2019-04-11 12:28] rsvoboda opened #145 "kafka-quickstart has no test coverage"
kafka-quickstart has no test coverage

[2019-04-11 12:29] rsvoboda opened #146 "camel-java quickstart has no test coverage"
camel-java quickstart has no test coverage

[2019-04-11 12:29] rsvoboda opened #147 "infinispan-client quickstart has no test coverage"
infinispan-client quickstart has no test coverage

[2019-04-11 13:04] cescoffier commented on #136
This has been fixed.

[2019-04-11 13:04] #136 closed

[2019-04-11 17:49] cescoffier commented on #138
I've started working on it.

[2019-04-12 07:27] rsvoboda opened #148 "infinispan-client quickstart can't run using docker - server case"
infinispan-client quickstart can't run using docker (both client and server cases)

Instructions in README suggest to run ISPN server in docker or on the main system.
Running server in docker causes stuck client application, I had to `kill -9` it.
I think it's because of the docker nature where the server is on different network than client.

Errors from client when running against ISPN server in

[2019-04-12 07:38] rsvoboda commented on #148
@karesti / @wburns if you could take a look ...

[2019-04-12 07:40] rsvoboda commented on #144
infinispan client sync handled in PR 149 but docker aspect is more complicated for this QS, there is issues 148 to track it.

[2019-04-12 10:52] rsvoboda commented on #144
Closing as related PRs are merged.

[2019-04-12 10:52] #144 closed

[2019-04-15 06:45] cescoffier commented on #148
it is because of the discovery or the connection to the server?

[2019-04-15 06:51] rsvoboda commented on #148
I think so.

[2019-04-15 09:07] lordofthejars opened #153 "Persistence example moves from Docker Maven Plugin to Test Containers"
With docker maven plugin you are tight to Maven lifecycle which makes painful to run tests from IDE. Ideally, these kinds of tests should come with an embedded lifecycle of persistence engine using TestContainer so everything is self-contained.

PR coming.

[2019-04-15 09:31] Karm commented on #118
Probably resolved in #153  #154

[2019-04-15 14:14] karesti commented on #148
@rsvoboda which version of infinispan are you using ? are you using docker for mac ?

[2019-04-15 14:33] karesti commented on #148
@cescoffier could you please assign the issue to me?

[2019-04-15 15:17] rsvoboda commented on #148
Docker for macOS, I will try the workaround

[2019-04-15 15:59] rsvoboda commented on #148
Workaround works, comment added to the PR about making it default for better user experience.
PR handles docker issue for server side.

I think I will refocus this issue just for server in docker and create new one for case when client app runs in docker container and ends up with Connection refused: localhost/127.0.0.1:11222. WDYT ?

[2019-04-15 20:42] gsmet commented on #127
@burrsutter could you give a bit more details (or give an example on one quickstart, we can then do the work to generalize it)?

It might also be a good idea to include it in the template project if it makes sense.

[2019-04-15 20:43] gsmet commented on #125
Yes, better open an issue in the main project if it's still an issue with 0.13.2. Please include a reproducer. Thanks!

[2019-04-15 20:43] #125 closed

[2019-04-15 20:44] gsmet commented on #124
So, for now, we don't support JDK 12. You should use a LTS JDK (either 8 or 11).

Feel free to subscribe to quarkusio/quarkus#1534 to get notified once we fix it.

[2019-04-15 20:44] #124 closed

[2019-04-15 20:46] gsmet commented on #24
I think this was fixed by this one: https://github.com/quarkusio/quarkus/pull/1905 . It will be included in the upcoming 0.14.0.

[2019-04-15 20:46] #24 closed

[2019-04-15 20:47] gsmet commented on #93
@FroMage I think we should take a look at this one. Part of it might already been fixed but I'm not sure it's the case of all the issues described here.

[2019-04-16 07:58] FroMage commented on #125
Yes, this is surely related to context propagation. Follow quarkusio/quarkus#467 to check progress.

[2019-04-16 08:00] FroMage commented on #93
IIRC we're now setting up the Arc contexts properly in tests, so this should just work. Can you retry with the latest release please?

[2019-04-16 08:02] karesti commented on #148
That sounds perfect to me @rsvoboda

[2019-04-16 10:08] rsvoboda opened #159 "infinispan-client quickstart - client application in docker"
Currently infinispan-client quickstart support docker instance for infinispan server side.

When client app runs in docker container, it ends up with Connection refused: localhost/127.0.0.1:11222 as it can't see infinispan server inside docker container instance.

I think the solution could be to have docker-compose script which would handle network aspect or add instructions for docker network fo

[2019-04-16 10:10] rsvoboda commented on #142
Closing, content of those files differs. Merging of several quickstarts is probably counter-productive.

[2019-04-16 10:10] #142 closed

[2019-04-25 10:06] ppalaga opened #166 "Camel quickstart does not build with -Pnative"
The native profile was commented out by @gsmet in 6e4d30909b6e78c12ddb9c01e917f6af5f60ec9e

When the profile made active again, the following happens:

[code]

[2019-04-25 10:06] ppalaga commented on #166
cc @gnodet

[2019-04-25 10:10] davsclaus commented on #166
Yeah there was a commit you need to revert.

    Revert "Fix usage of class not available in Java 9+"

    This reverts commit c1c51b8fefd26359557b214cae8e2489d6be62a9.

[2019-04-25 10:10] ppalaga commented on #146
@rsvoboda I could eventually try to fix this. Could you please point me at a quickstart whose tests are especially worth to be used as an inspiration?

[2019-04-25 10:11] davsclaus commented on #166
We need to make this work again OOTB.

[2019-04-25 10:24] ppalaga commented on #166
If we revert, it starts working on Java 8 again, but won't work on Java 9+, right? I assume the objective of c1c51b8fefd26359557b214cae8e2489d6be62a9 was to make it work on Java 9+. So the revert is probably not an ideal fix for the future? (I am new here, I am trying to understand.)

[2019-04-25 11:25] ppalaga commented on #146
@rsvoboda unping. I see that all other quickstarts' tests look the same, mostly testing over HTTP. The problem with this camel quickstart is that it does not expose any endpoint. It is just a timer based loop writing something to the log. Let me figure out if there is a way to access the log from a test.

[2019-04-25 15:46] davsclaus commented on #166
Yeah ideally it should in the future work on Java 11 (Camel only support Java 8 ... and for Camel 3 Java 11 (work in progress). But for now I would make it work for Java 8

[2019-04-25 16:07] ppalaga commented on #13
PR https://github.com/quarkusio/quarkus-quickstarts/pull/168 :

* Adds a basic `.editorconfig` file with `indent_style = space` and `indent_size = 4`
* Adds org.ec4j.maven:editorconfig-maven-plugin:0.0.10:check to azure-mvn-settings.xml
* Applies the rules via `mvn org.ec4j.maven:editorconfig-maven-plugin:0.0.10:format` in a separate commit (so that the rules can be reviewed separately from what t

[2019-04-26 06:34] #146 closed

[2019-04-26 09:35] rsvoboda commented on #138
@cescoffier what's the status and overall plan ?

Will we publish snapshots or CI pipeline will build Quarkus latest bits ?
`mvn clean install -DskipTests -DskipITs` on Quarkus is quite fast

[2019-04-26 14:28] gsmet opened #170 "Update Dockerfiles with the new image and log configuration"
@rsvoboda we haven't updated the Dockerfile.jvm in the quickstarts to point to the new image and forcing the log manager and disabling jolokia.

Could you take care of it before the next release?

Thanks!

[2019-04-26 15:06] cescoffier commented on #138
I have started working on this, but we are facing a lot of connection issue with maven central and make our CI approach not really suitable for this.

[2019-04-26 15:39] cescoffier commented on #138
Just to give more details. snapshots are deployed every night (it takes roughly 3h to get them deployed). What does not work is building the quickstarts as the connection to maven central and OSS snapshots is terribly slow (several hours for a single QuickStart). We cannot use mirror on snapshots (it defeats a bit the purpose).

I’ve looked at alternative like hosting a Maven repo on azure file sy

[2019-04-26 16:39] emmanuelbernard opened #171 "quarkus-quickstarts/hibernate-orm-resteasy Postgres for tests is not stopped during mvn package"
From https://github.com/quarkusio/quarkus/issues/2235 and @lkrzyzanek

When following quick start https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-resteasy#building-the-demo then `mvn package` correctly start the postgres for tests but doesn't stop it.
It leads to error when trying to run the demo by `docker run ....  postgres:10.5`
[code]

The fix is easy - just attach `

[2019-04-29 12:35] rsvoboda opened #176 "Update quickstarts to include test coverage for native mode"
Some quickstarts do not have tests for native mode or do not have maven-failsafe-plugin configued

Update quickstarts to include test coverage for native mode.

[2019-04-29 13:26] dmlloyd commented on #166
I think GraalVM somehow broke something relating to alias types.  We could add the alias field to the target class though and see if that fixes things.  I'll continue the discussion in quarkusio/quarkus#2207.

[2019-04-29 14:34] emmanuelbernard opened #178 "Automate the quickstart publication process"
The quickstart publication process should be fully automated and integrated with the overall release process.
Development should be separated from what users land with.
Force push is not acceptable
Emergency fix should be doable out of band of a release and fully reconcilable
Merge conflict most not happen as its release will be automated
Should work when a user git clone <repo> and cd into it

[2019-04-29 14:44] rsvoboda commented on #171
Tests for native mode are attached to `integration-test` phase.
Stopping docker in `prepare-package` phase won't work for native mode.

[2019-04-29 15:05] rsvoboda commented on #171
To resolve this issue we have to start / stop docker prior `package` phase.
And in native mode start/stop docker for the second time in `pre-integration-test` and `post-integration-test` phase.
Users can still invoke `mvn -Pnative package` so even if native profile is enabled we have to stop Docker before `package` phase.

Or we keep it as is and just say: Use `mvn verify` instead of `mvn package`

[2019-04-30 14:36] objectiser opened #180 "Using-opentracing quickstart does not build with graalvm 1.0.0-rc14"
When I run `mvn package -P native` from `using-opentracing` folder I get:

[code]

[2019-05-01 23:52] ramesshh opened #183 "Micrometer metrics for quarkus vertx"
Could not able to get micrometer metrics from quarkus vertx.
Followed this documentation
https://vertx.io/docs/vertx-micrometer-metrics/java/

and below code
[code]

[2019-05-02 10:19] gsmet commented on #183
@cescoffier I think your expertise is needed there :).

[2019-05-03 08:09] tsegismont commented on #183
@ramesshh to determine if the Micrometer metrics extension is gathering any metric, you may add this to your code:

[code]

I can't see anything obviously wrong in your snippet. Could you share a reproducer on GitHub?

[2019-05-03 22:23] ramesshh commented on #183
@tsegismont - Am able to see the metrics with the below code
[code]

[2019-05-04 07:58] tsegismont commented on #183
@jotak does that ring a bell?

@ramesshh please share a reproducer

[2019-05-04 18:51] jotak commented on #183
I don't see any obvious issue with the code. I'm not familiar with quarkus so I can't say if something could not work with micrometers push jobs to influx... Definitely a reproducer would help.

[2019-05-05 02:04] ramesshh commented on #183
First things, apologize for not posting the full project here due to some limitations
But here is the full class that I think reproduces the issue

**Code:**

`
package org.acme.quarkus.sample;

import io.micrometer.core.instrument.composite.CompositeMeterRegistry;
import io.quarkus.vertx.ConsumeEvent;
import io.vertx.axle.core.Context;
import io.vertx.axle.core.Vertx;
import io.vertx.axle.core.ev

[2019-05-07 13:41] rafaeltuelho opened #188 "quarkus-quickstarts/hibernate-orm-resteasy not working due a Jandex index issue"
When you run this quickstart `mvn packge` it fails during tests phase with the following error:

[code]

As described in this thread: https://stackoverflow.com/a/55513723/1010947 the solution is to use the `Jandex` plugin in `pom.xml`

[2019-05-07 15:55] aloubyansky opened #189 "Gradle configs should enforce quarkus-bom versions"
An example
[code]
In this case the extension version will be coming from the BOM. And it will also use the correct versions for the transitive dependencies.
Currently, `org.wildfly.common:wildfly-common:1.5.0.Final` ends up being used instead of version `1.5.0.Final-format-001` which breaks some quickstarts.

[2019-05-09 10:30] sberyozkin opened #191 "Update the JWT demo to show JWT default groups and custom headers"

[2019-05-10 11:56] ramesshh commented on #183
@jotak - Do you see any issue with my code or way of implementation?

[2019-05-10 14:40] jotak commented on #183
It doesn't look related to the metrics. I took your code snippet and modified it to not enable metrics but I keep your vertx/bus reassignment, and I get the same error:

[code]

=>
[code]

So metrics doesn't play any role there. It looks more like something proper to vertx+quarkus? Personally I'm not qualified in these domain (first time with quarkus for me :-) ) maybe @tsegismont or @cescoffier c

[2019-05-11 01:05] ramesshh commented on #183
Yes. I think the vertx and eventBus beans were created from VertxProducer. ConsumeEvent annotation is defined to read from those beans. The sender from my code is sending to one eventBus, whereas method that has consume event annotation listening on another event Bus.

I think quarkus framework team needs to provide the following,
1. Provide an option to create multiple vertx, eventBus option
2. P

[2019-05-11 14:39] cescoffier commented on #166
Fixed in the development branch.

[2019-05-11 14:39] #166 closed

[2019-05-11 18:11] cescoffier commented on #183
@ramesshh

1. just use `Vertx.vertx()` with the option you need. Note that the default instances can be configured from the `application.properties` file
2. By default, Quarkus metrics are collected using SmallRye Metrics, there is no integration of SmallRye Metrics with Vert.x yet (but contributions are welcome).

@jotak The error you see is because someone sent a message to the address `greeting

[2019-05-14 13:12] #180 closed

[2019-05-14 14:43] JimTyrrell opened #196 "Example showing paging of large result sets"
In speaking with @emmanuelbernard at Summit, I asked if a paging end point example existed.  He said the building blocks exist, but it does not yet exist.  He asked me to create this ticket and tag him in it.

Example, I have 10,000 rows in my database, via some where clause injections/limits I am only shown  a configurable number of elements per page in JSON.

[2019-05-16 13:37] rsvoboda commented on #138
Aside infrastructure challenges I think CI should cover (in the end) these combinations:

 - QS run in JVM mode on Linux using GraalVM
 - QS run in JVM mode on Windows using OpenJDK _LATEST_
 - QS run in Native mode on Linux using GraalVM
 - QS run in JVM mode on Windows using OpenJDK 11
 - QS run in Native mode on Windows using GraalVM (once supported)

[2019-05-19 14:33] misl opened #197 "Create a quickstart using MQTT"
There is quickstart for Kafka. A similar quickstart of MQTT will help people (like myself) get started with Quarkus and MQTT.

[2019-05-19 14:35] misl commented on #197
I have already started on taking the Kafka quickstart as an example for a MQTT quickstart. Pull request is coming.

[2019-05-19 16:39] misl opened #198 "Native build fails for Camel quickstart"
[code]
Results in:

[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[ERROR] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-failsafe-plugin must be a valid version but is '${surefire-plugin.version}'. @ line 95, column 22
 @
[ERROR] The build could not read 1 project -> [Help 1]
[ERROR]
[ERROR]   The project org.acme:camel-java:1.0-SNAPSHOT (/home/misl/D

[2019-05-20 09:46] #198 closed

[2019-05-20 11:10] leotu opened #201 "kafka quickstart failed when generate a native image with quarkus-agroal"
Version: 0.15.0
if pom.xml add below artifactId
[code]

Goals: "clean package -Pnative"
raise error:

[code]

java.lang.NumberFormatException: For input string: "org.apache.kafka.common.serialization.StringDeserializer"

[2019-05-22 13:29] douglasawoods opened #204 "xcrun required for Native-Image build on MacOS"
On MacOS(Mojave), when doing the native-image build lab, xcrun was required to be installed on the Mac, which was accomplished via "Xcode-select —install". Once installed, the Native Image build lab completed successfully.
Recommend updating the getting-started lab documentation for "Building Native Image Guide" to note xcrun being required on a Mac to successfully complete this lab.

[2019-05-23 15:53] cescoffier commented on #201
It has been fixed in `development`.

[2019-05-23 15:53] #201 closed

[2019-05-28 13:47] agoncal opened #205 "quarkus-quickstarts/rest-jsonb Posting a Fruit object without programmatically marshall a Fruit to JSon"
In the [rest-json quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/rest-json), the `FruitResourceTest.testAdd` test case posts a JSon [representation of a fruit](https://github.com/quarkusio/quarkus-quickstarts/blob/master/rest-json/src/test/java/org/acme/rest/json/FruitResourceTest.java#L28)

[code]

It would be good to have a test that passes the `Fruit` object itself

[c

[2019-05-31 08:29] jesuino commented on #197
Thanks for your great contribution, I saw your code in development! Do you know if this can be extended to use AWS IoT? Would you suggest some example using AWS IoT?

[2019-05-31 12:40] misl commented on #197
Hi jesuino,

Unfortunately I am not familiar with AWS IoT, but probably there are similarities with Google IoT and IBM Watson IoT. Even though it is MQTT, each has there own topic naming convention you have to follow (as a result of there device management). This makes it hard to migrate (vendor lock-in).

Getting back to your question. If AWS IoT is based on MQTT it should work.
- Just take the q

[2019-05-31 12:42] misl commented on #197
This issue can closed since the changes were merged

[2019-05-31 12:42] #197 closed

[2019-05-31 14:36] jesuino commented on #197
Thanks, @misl was just wondering if you tested it with AWS IoT. Unfortunately yes, I agree with you, they provide a Java API which help us to set certificates on their client...

[2019-06-03 08:12] misl commented on #197
So what you are actually looking for is support for certificates? Have a look at [smallrye](https://smallrye.io/) (the library taking care of micro profile messaging for Quarkus). Is seems smallrye's [MqttSource](https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttSource.java) does not yet suppor

[2019-06-04 01:04] shaneboulden opened #207 "quarkus-quickstarts/using-openapi-swagger fails to open Swagger docs"
Steps to reproduce:
[code]

Expected results:
Swagger docs are available at http://localhost:8080/swagger-ui

Actual results:
Error message is shown at http://localhost:8080/swagger-ui: https://i.imgur.com/kAbPzXK.png
Navigating to http://localhost:8080/openapi also produces an error: https://i.imgur.com/4yn5dVK.png
The following is shown in the console:
[code]

[2019-06-05 04:39] davsclaus opened #210 "Building native image of camel-java fails with maven plugin surefire version issue"
quarkus-quickstarts/camel-java (master)/$ mvn clean package -Pnative
[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[ERROR] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-failsafe-plugin must be a valid version but is '${surefire.version}'. @ line 95, column 22
 @
[ERROR] The build could not read 1 project -> [Help 1]
[E

[2019-06-05 14:53] #210 closed

[2019-06-06 06:58] cescoffier commented on #153
Will be fixed by #213 .

[2019-06-06 06:58] cescoffier commented on #118
will be fixed with #213

[2019-06-06 07:01] cescoffier commented on #205
@agoncal I believe we need to provide some kind of provider to RestAssured:
https://github.com/rest-assured/rest-assured/wiki/usage#using-an-explicit-serializer

That's being said... I never tried :-)

[2019-06-06 07:07] cescoffier commented on #204
The documentation has been updated! Thanks for the feedback.

[2019-06-06 07:07] #204 closed

[2019-06-06 07:07] cescoffier commented on #207
This is going to be fixed in the 0.16.1 release. Stay tuned, it's going to land very shortly.

[2019-06-06 07:08] cescoffier commented on #171
This is going to be covered by #213 .

[2019-06-06 07:08] cescoffier commented on #170
Closing as the fixed has been merged.

[2019-06-06 07:08] #170 closed

[2019-06-06 07:09] cescoffier commented on #159
@karesti Any idea?

[2019-06-06 14:35] agoncal commented on #205
I tried to manually setup a JSonB provider [like this](https://stackoverflow.com/a/55293838) but didn't work out.

[2019-06-06 18:58] cescoffier commented on #205
Bonsoir @agoncal ,

Not amazing, but seems to work:

[code]

I need to check how it works with complex type on the deserialization side.

[2019-06-08 07:08] agoncal commented on #205
@cescoffier nice trick. Works on my sample too.

Couldn't you register the JSonB mapper in the QuarkusTest (so we don't have to do it) ?

[2019-06-10 16:10] cescoffier commented on #207
Fixed in 0.16.1.

[2019-06-10 16:10] #207 closed

[2019-06-11 13:17] diogosouza opened #215 "Add quickstart for Spring Multimodule projects"
Hi, would it be possible to add quickstarts for multimodularized projects in Spring?

I could only find this PR (https://github.com/quarkusio/quarkus/pull/1973) which addresses the support for quarkus:dev in multimodule projects, but I couldn't figure out how to set it up yet.

Tried for both:
[code]
and
[code]
But always get problems with Gradle not finding the proper `sourceDir` or the `quarkusB

[2019-06-11 18:30] cescoffier commented on #205
@agoncal definitely. As we are setting the RestAssured port we can do that at the same time. But, I'd like to do proper testing first.

[2019-06-12 19:48] karesti commented on #159
This is done

[2019-06-12 19:49] karesti commented on #159
https://github.com/quarkusio/quarkus-quickstarts/commit/9129b3c796edc6e0c8cbce3b682838fcee8faf8c

[2019-06-12 19:50] karesti commented on #148
This one is done too

[2019-06-13 08:01] #148 closed

[2019-06-16 13:07] davecramer opened #220 "Error producing native-image on macos"
Install latest graalvm
using JDK1.8 on macos
in the getting-started example
mvnw package -P native results in:
Error: Already registered: java.lang.reflect.Method.getDefaultValue()
com.oracle.svm.core.util.UserError$UserException: Already registered: java.lang.reflect.Method.getDefaultValue()

[2019-06-16 13:08] cescoffier commented on #220
Quarkus does not support GraalVM 19 yet. We are actively working on this.

[2019-06-17 12:29] davecramer commented on #220
@cescoffier thanks for the quick reply! I think I'll leave this open for others.

[2019-06-19 20:32] rquinio commented on #215
I've started a sample (Maven only for now): https://github.com/rquinio/quarkus-quickstarts/tree/feature/multi-module/getting-started-multi-module

[2019-06-19 21:39] rquinio commented on #215
With Gradle, I confirm hot replace in module2 is not working for me either (I used your 2nd approach).
Hot replace only works fine in module1 (on which quarkusDev task is launched).

[2019-06-27 12:52] rsvoboda commented on #220
Quarkus 0.18.0 is out, it supports GraalVM 19.0.2

[2019-06-27 12:52] #220 closed

[2019-06-28 13:49] danielhelfand opened #233 "Better Build and Run Instructions"
As of now, `quarkus-quickstarts` states to look for build instructions in [CONTRIBUTING.md](https://github.com/quarkusio/quarkus-quickstarts/blob/master/CONTRIBUTING.md). It appears as if the commands specified for building with `maven` are aimed at building and running tests for all the examples. Additionally, the Prerequisites for running `mvn clean verify -Pnative` (i.e., setting `GRAALVM_HOME`

[2019-07-18 10:00] ozeta opened #245 "getting-started-knative dockerfile build fails"
Hi, I started a build on the Dockerfile of getting-started-knative:

[code]

and got this error message:

[code]

I'm on Win 10 and I'm using Docker CE
Version 2.0.0.3 (31259)
Channel: stable
Build: 8858db3

seems that the path of the output jar is incorrect?

[2019-07-24 14:31] jcordes73 opened #247 "using-kogito fails with ClassCastException"
When running ./mvn package the following error is displayed:

16:26:38,021 INFO  [org.dro.com.kie.bui.imp.KieRepositoryImpl] KieModule was added: org.drools.modelcompiler.CanonicalKieModule@43df2da4
[ERROR] Tests run: 2, Failures: 0, Errors: 2, Skipped: 0, Time elapsed: 2.699 s <<< FAILURE! - in org.acme.kogito.PersonProcessTest
[ERROR] testAdult  Time elapsed: 0.013 s  <<< ERROR!
org.junit.jupite

[2019-07-24 14:57] gsmet commented on #247
Which version of Quarkus does it use? We currently do not support 19.1.1 on the released versions. Only master should work with 19.1.1.

That being said, it doesn't ring a bell so we probably need to check the state of the quickstarts with 19.1.1 and current master.

[2019-07-24 15:26] jcordes73 commented on #247
According to the pom the quarkus version is 0.19.1 (it was a clone from the current master).

So steps where

git clone https://github.com/quarkusio/quarkus-quickstarts
cd quarkus-quickstarts/using-kogito/
./mvnw clean compile quarkus:dev
./mvnw package

quarkus:dev was working fine.

[2019-07-24 15:28] gsmet commented on #247
and does it work with GraalVM 19.0.2? Or not?

Thanks!

[2019-07-24 15:39] jcordes73 commented on #247
Retested with GraalVM 19.0.2 and it is failing with an error as well:
17:37:29,582 WARN  [org.dro.com.kie.bui.imp.KieProject] No files found for KieBase defaultKieBase
17:37:29,722 INFO  [org.dro.com.kie.bui.imp.KieRepositoryImpl] KieModule was added: org.drools.modelcompiler.CanonicalKieModule@5ba459b3
[ERROR] Tests run: 2, Failures: 0, Errors: 2, Skipped: 0, Time elapsed: 2.438 s <<< FAILURE! -

[2019-07-24 15:42] gsmet commented on #247
Hmmm, that is really weird. I tested the quickstarts before releasing.

I'll recheck it as soon as I can, there's definitely something weird going
on.

On Wed, Jul 24, 2019 at 5:40 PM Jochen Cordes <notifications@github.com>
wrote:

[2019-07-24 15:51] jcordes73 commented on #247
Here some info about the java version:

java -version
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

I'm using RHEL 7.6.

[2019-07-25 08:26] gsmet commented on #247
It's really related to the combination of:
[code]
if the `package` operation is called without a `clean`. If you add `clean`, it works OK.

I wonder if it's related to https://github.com/quarkusio/quarkus/issues/3288 . @mswiderski @mariofusco , does it ring a bell?

[2019-07-25 14:02] jcordes73 commented on #247
With ./mvnw clean package it works even with the native mode. I'm just a close follower of documentation.

[2019-07-25 22:31] mswiderski commented on #247
@gsmet thanks for adding me to this issue, I will have a look to see why the clean makes such a big difference. Will keep you posted

[2019-07-25 23:59] mswiderski commented on #247
@jcordes73 @gsmet just tested this on master which already has a fix for quarkusio/quarkus#3288 and it does work as expected. So yes, it does seem to be related to that.

[2019-08-02 19:26] evanshortiss opened #251 "19.1.1 image is missing for s2i"
I'm trying to run an s2i build using the [guide here](https://quarkus.io/guides/openshift-s2i-guide), but the referenced tag seems to be missing. On quay.io I only see 19.0.2 for this image.

If I use the 19.0.2 image it errors like so:

[code]

I tried changing my quarkus version to 0.19.0 and 0.18.0 in the pom.xml and used `quay.io/quarkus/ubi-quarkus-native-s2i:19.0.2`, but it still fails using

[2019-08-02 19:35] gsmet commented on #251
/cc @cescoffier

[2019-08-02 19:36] gsmet commented on #251
Thanks for reporting it.

Could you create an issue in the main repo: https://github.com/quarkusio/quarkus/issues ?

Thanks!

[2019-08-02 20:11] evanshortiss commented on #251
@gsmet opened the issue here https://github.com/quarkusio/quarkus/issues/3410

[2019-08-02 20:12] gsmet commented on #251
Thanks, let's close this one then.

[2019-08-02 20:12] #251 closed

[2019-08-16 10:34] coolbeevip opened #255 "When I use ab test getting-started, the apr_socket_recv: Operation timed out(60) error occurs when the ab command is executed continuously."
When I use ab test getting-started, the apr_socket_recv: Operation timed out(60) error occurs when the ab command is executed continuously.

[code]
ab error info

[code]

[2019-08-17 14:14] coolbeevip commented on #255
I switched to another http load test and benchmark utility Siege succeeded.

[2019-08-17 14:14] #255 closed

[2019-08-21 21:24] daggerok opened #258 "Given gradle getting started example doesn't executes tests"
Hello,

I'm following getting started gradle guide on quarkus.io and my tests are failed.
So I have cloned that example and founf here only one Gradle project, but currebt project doesn't executes any tests at all

[2019-08-29 11:37] rsvoboda opened #265 "using-vertx QS throws error in native mode"
using-vertx QS throws error in native mode, app boots, tests are passing ...
run command: `mvn clean verify -Dnative`

Main message:
Cannot instantiate the MessageCodec class io.quarkus.vertx.runtime.GenericMessageCodec: java.lang.InstantiationException: Type `io.quarkus.vertx.runtime.GenericMessageCodec` can not be instantiated reflectively as it does not have a no-parameter constructor or the no

[2019-08-29 11:38] rsvoboda commented on #265
@stuartwdouglas / @cescoffier  / @gsmet

[2019-08-29 11:43] rsvoboda opened #266 "using-websockets QS throws error in native mode"
using-websockets QS throws error in NATIVE mode, JVM mode passes
run command: `mvn clean verify -Dnative`

[code]

@stuartwdouglas / @gsmet

[2019-08-29 11:50] rsvoboda opened #267 "microprofile-fault-tolerance fails in NATIVE mode"
microprofile-fault-tolerance fails in NATIVE mode

Compilation of the binary executable fails with `Caused by: java.lang.ClassNotFoundException: io.smallrye.context.propagators.rxjava2.RxJava2ContextPropagator`

Probably the same problem as in https://github.com/quarkusio/quarkus/issues/3737

@gsmet fyi

[2019-08-29 11:57] rsvoboda opened #268 "microprofile-fault-tolerance QS is very verbose"
microprofile-fault-tolerance QS is very verbose

@TomasHofman any idea how to make it a bit nicer ?
At the first sight I had impression something went teribly wrong.

Output of `mvn clean verify`:
[code]

[2019-08-29 13:02] stuartwdouglas commented on #266
This is a race on the client side, we don't register the message handler atomically so there is a small window for messages to get lost

[2019-08-29 14:47] gsmet commented on #267
I just tried it with fresh master and it worked.

I ran `mvn clean install -Dnative` and the native test passes. Do I need to do something special?

[2019-08-29 15:19] sberyozkin opened #270 "Create Apache Tika extension quick start"

[2019-08-30 07:00] rsvoboda commented on #267
I still see it with latest master
patebin: https://paste.fedoraproject.org/paste/X9GBa42~DwGP6trisT7Usw

[code]
[code]
[code]

[2019-08-30 07:25] rsvoboda commented on #267
On CI there is the failure too
https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=6674
Build quickstarts - dev Started: 8/29/2019, 10:22:20 PM

[code]

[2019-08-30 08:12] TomasHofman commented on #268
I guess I could just make the endpoint return HTTP 500, without throwing an exception, to avoid the stacktraces.

[2019-08-30 08:22] rsvoboda commented on #267
I tried to start from empty local repo, built quarkus, executed the quickstart and it failed too.

[2019-08-30 08:37] gsmet commented on #268
Can we not do anything for now. This stacktrace looks weird to me. I wouldn't expect it to be so long.

[2019-08-30 22:31] daggerok commented on #258
found [this](https://github.com/quarkusio/quarkus/issues/3552#issuecomment-524225607) workaround: you have to declare quarkus gradle plugin in old style fasion, like so:

[code]

---
Regards,
Maksim Kostromin

[2019-09-03 07:15] rsvoboda opened #273 "amqp-quickstart can't be compiled"
amqp-quickstart can't be compiled

[code]

[2019-09-03 07:16] rsvoboda commented on #273
Maybe GAV change or unwanted removal from BOM.

[2019-09-03 07:19] gsmet commented on #273
Maybe it was fixed by https://github.com/quarkusio/quarkus/pull/3801 ?

[2019-09-03 07:27] rsvoboda commented on #273
Thanks! Just figured out it was introduced in https://github.com/quarkusio/quarkus/commit/2fef324c179ee03c983b254483bb607ee9e77f8a#diff-db95d76c4dee5e91edef01885a6a4d95

[2019-09-03 07:28] rsvoboda commented on #273
Building master, will close once double checked

[2019-09-03 07:33] rsvoboda commented on #273
QS compiles & tests passed, closing.

[2019-09-03 07:33] #273 closed

[2019-09-03 12:32] rsvoboda opened #274 "microprofile-messaging-mqtt has tests failures in jvm mode"
microprofile-messaging-mqtt quickstart has tests failures in jvm mode
running against Quarkus master 7404e8e0f - (HEAD -> master, upstream/master, origin/master, origin/HEAD) Merge pull request #3799 from stuartwdouglas/blocking-op-detection (3 hours ago) <Stéphane Épardaud>

[code]

[2019-09-03 12:33] rsvoboda opened #275 "microprofile-metrics has test failure in jvm mode"
microprofile-metrics quickstart has test failure in jvm mode
running against Quarkus master 7404e8e0f - (HEAD -> master, upstream/master, origin/master, origin/HEAD) Merge pull request #3799 from stuartwdouglas/blocking-op-detection (3 hours ago) <Stéphane Épardaud>

@jmartisk can you take a look ?

[code]

[2019-09-03 14:48] rsvoboda commented on #274
@gsmet for triage before 0.21.2 release

[2019-09-03 14:48] rsvoboda commented on #275
@gsmet for triage before 0.21.2 release

[2019-09-03 15:37] gsmet commented on #274
Do we have the issue with the current release?

[2019-09-03 15:37] gsmet commented on #275
Do we have the issue with the current release?

[2019-09-03 15:53] cescoffier commented on #274
Yes, the qualifier PR (https://github.com/quarkusio/quarkus/pull/3821) should fix it.

[2019-09-03 18:29] rsvoboda commented on #275
not exactly sure what do you mean, but

a) running `microprofile-metrics` quickstart with 0.21.1 passes

b) there is no issue filed for this in https://github.com/quarkusio/quarkus

[2019-09-04 05:58] jmartisk commented on #275
The problem is that we've recently started  [adding a @Dependent annotation](https://github.com/quarkusio/quarkus/blob/5fd1a57eb423fd95e3045feecf39ccb7a284dccd/extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java#L124) to classes where we find metric annotations and they don't have any explicit CDI scope, this is to enable them a

[2019-09-04 06:26] jmartisk commented on #275
I filed https://github.com/quarkusio/quarkus/issues/3838 for this

[2019-09-04 15:23] #265 closed

[2019-09-06 08:21] jmartisk commented on #275
This should be fixed in current master of Quarkus

[2019-09-13 22:01] maxandersen opened #281 "Add links to open quickstarts in che.openshift.io"
che 7 has a new notion of [devfile.yml](https://www.eclipse.org/che/docs/che-7/making-a-workspace-portable-using-a-devfile/) which we in *theory* should be able to add to the quickstarts to  give links to [che.openshift.io](https://che.openshift.io/f?url=https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started) that setup a environment to edit/run most getting started projects.

[2019-09-13 22:05] maxandersen commented on #281
to begin with we could start with explicit devfile.yml for the getting-started example.

[2019-09-13 22:34] maxandersen commented on #281
so che.openshift.io/f?url=https://github.com/maxandersen/quarkus-quickstarts/tree/che works and checks out the project as expected as long as there is *no* devfile.yaml.

If I put a devfile.yaml in there it stops checking out the project and seem to force me to have an absolute reference like:

[code]

That is counter intuitive and not very flexible.

[2019-09-15 10:42] gazarenkov commented on #281
+1 , this behavior does not look really clear.
It looks better to use 2 different parameter names for link to devfile containing directory (repository) and to the project itself.
Could you create a corresponding  issue in a Che repo for better visibility?

[2019-09-15 22:49] maxandersen commented on #281
Yes, I opened a good bunch of issues found for this issue:

https://github.com/eclipse/che/issues/14547
https://github.com/eclipse/che/issues/14546
https://github.com/eclipse/che/issues/14548
https://github.com/eclipse/che/issues/14549
https://github.com/eclipse/che/issues/14550

[2019-09-16 07:33] sunix commented on #281
linking to this one: https://github.com/eclipse/che/issues/14506

[2019-09-18 11:31] rsvoboda commented on #275
microprofile-metrics quickstart passes in jvm mode, thanks

[2019-09-18 11:31] #275 closed

[2019-09-20 07:32] rsvoboda opened #287 "rest-json doesn't compile"
`mvn clean verify -pl rest-json/` results in `package javax.servlet.http does not exist`

Must be related to latest web layer changes

[code]

[2019-09-20 07:33] rsvoboda commented on #287
@gsmet fyi, this will be probably noteworthy item for end users so they can adjust their dependencies.

[2019-09-20 07:41] machi1990 commented on #287
I suppose this is after https://github.com/quarkusio/quarkus/pull/4052 was merged ?

[2019-09-20 08:02] gsmet commented on #287
I know about this. Please don’t merge anything master specific for now as mentioned on the list.

The quick starts need to work with the 0.23 branch.

[2019-09-20 08:31] gsmet commented on #287
See this discussion on Zulip I started yesterday: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Life.20without.20Undertow

[2019-09-20 08:34] gsmet commented on #287
I created https://github.com/quarkusio/quarkus/issues/4125 .

[2019-09-23 11:01] jitihn opened #289 "validation example is not working correctly"
POST http://localhost:8080/books/manual-validation 500 (Internal Server Error)

[2019-09-23 11:15] gsmet commented on #289
Could you give a bit more details? Exception you have, how to reproduce it?

Thanks.

[2019-09-24 05:53] jitihn commented on #289
This error can be generated by running the application [validation](https://github.com/quarkusio/quarkus-quickstarts/tree/master/validation) example by keeping the "Number of pages" field blank

[code]

[2019-09-24 05:53] #289 closed

[2019-09-24 14:44] rsvoboda opened #290 "Refactor org.acme.quarkus.sample packages to reflect better quickstart name"
Refactor org.acme.quarkus.sample packages to reflect better quickstart name

[code]

[2019-09-25 08:16] rsvoboda opened #292 "hibernate-orm-resteasy QS gets stuck in native mode"
hibernate-orm-resteasy QS gets stuck in native mode, app seems to be started but tests are not executed. Noticed this on Linux box and on macOS machine too.

[code]
Waited more than 2 minutes before hitting Ctrl+C

[2019-09-25 08:32] gsmet commented on #292
With 0.23-wip or master? I tested it with `0.23-wip` this morning and it worked OK.

[2019-09-25 08:33] rsvoboda commented on #292
With master

[2019-09-25 09:03] gsmet commented on #292
@rsvoboda can you open an issue in the main repo instead? There's a good chance the issue is not with the quickstarts and it will get more visibility.

Thanks!

[2019-09-25 09:59] rsvoboda commented on #292
Here we go: https://github.com/quarkusio/quarkus/issues/4198

[2019-09-27 15:56] cescoffier opened #296 "JWT quickstart does not work in native mode"
It's unable to find the pem file:

[code]

[2019-09-27 19:50] sberyozkin commented on #296
@cescoffier thank you, I've added myself to the assignee list
@kenfinnigan Hi Ken if you'd like to remain in the list of assignees then please stay :-)

[2019-09-30 12:12] sberyozkin commented on #296
@cescoffier Hi Clement, I've built a quarkus master, and run this demo in the `development` branch and it works fine in a native mode (actually, I had to disable [this test](https://github.com/quarkusio/quarkus-quickstarts/blob/development/using-jwt-rbac/src/test/java/org/acme/jwt/TokenSecuredResourceTest.java#L100) - but it is unrelated to smallrye-jwt, to do with the subresources)

[2019-09-30 12:21] sberyozkin commented on #296
@cescoffier silly me, I haven't pulled the latest updates :-)

[2019-09-30 12:46] sberyozkin commented on #296
@cescoffier still works though, PR is coming in a sec

[2019-09-30 13:25] #296 closed

[2019-10-02 12:43] mmusgrov opened #303 "Include a quickstart for the Narayana Software Transactional Memory extension"
There should be a quickstart that shows how to use the Narayana STM extension which was added for quarkus issue [4260](https://github.com/quarkusio/quarkus/issues/4260). The documentation for the extension is available in the [extension guide](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/stm-guide.adoc).

[2019-10-04 13:48] sberyozkin opened #308 "Update the OIDC guide to use JsonWebToken"
@stuartwdouglas, @cescoffier  Hi Stuart, Clement, I'd like to show `JsonWebToken` instead of the Quarkus specific `SecurityIdentity` in this demo, i.e, showing `SecurityIdentity` is also valuable, but I guess better be shown with other demos, in scope of this demo, given that we should be encouraging the users to use MP JWT Api to access the token info and it already works with what Stuart did ear

[2019-10-04 13:52] cescoffier commented on #308
I believe we need 2 quickstarts or the 2 approaches covered in the same quickstarts. `SecurityIdentity` is containing the JWT token and much more than this.

[2019-10-04 14:08] sberyozkin commented on #308
@cescoffier sounds good, yes, showing two approaches is a good plan, thanks. I wont rush then :-), Pedro will may have more ideas after he completes his adapter review

[2019-10-10 09:06] cescoffier opened #315 "Fix Elytron-JDBC Quickstart in native mode"
The current quickstart does not work in native because it starts H2 Server, which is not supported.

We need to update the quickstart in order to:

* use a docker-compose file to start a PostGreSQL database with an init script ([example](https://github.com/quarkusio/quarkus-workshops/blob/master/quarkus-workshop-super-heroes/super-heroes/infrastructure/docker-compose.yaml#L3-L10))
* in the tests,

[2019-10-10 09:08] cescoffier commented on #303
The PR has been merged.

[2019-10-10 09:13] cescoffier commented on #267
It's been fixed.

[2019-10-10 09:13] #267 closed

[2019-10-10 09:13] cescoffier commented on #176
Fixed by #177

[2019-10-10 09:14] #188 closed

[2019-10-10 09:15] cescoffier commented on #247
Fixed.

[2019-10-10 09:15] #247 closed

[2019-10-10 09:15] #266 closed

[2019-10-10 09:17] cescoffier commented on #93
I believe it was fixed.
Please re-open otherwise.

[2019-10-10 09:17] #93 closed

[2019-10-10 09:29] danielpetisme commented on #315
Ah!!!! that's why you use Pg in your todo-app demo application !
Ok it's the same pattern, I'll do ASAP.

[2019-10-21 08:34] gsmet opened #325 "Tidy up JWT quickstart"
@sberyozkin could you have a look at these issues please?

 * https://github.com/quarkusio/quarkus-quickstarts/blob/development/using-jwt-rbac/pom.xml#L10 - looks like the property is not used anymore
 * https://github.com/quarkusio/quarkus-quickstarts/blob/development/using-jwt-rbac/pom.xml#L51 - we already have a dependency to JSON-B, could we use JSON-B instead of databind? Or is it not possibl

[2019-10-29 08:34] cescoffier commented on #315
Will be fixed by #341

[2019-10-29 08:35] cescoffier commented on #292
Was fixed.

[2019-10-29 08:35] #292 closed

[2019-10-29 08:35] #127 closed

[2019-10-29 09:12] #315 closed

[2019-10-29 10:29] #325 closed

[2019-10-29 14:04] #270 closed

[2019-11-04 12:42] cescoffier opened #353 "Add tests to the neo4j quickstart"
* Add Quarkus tests
* Add native tests

[2019-11-04 12:42] cescoffier opened #354 "Add tests to the oauth2 quickstart"
* Add Quarkus tests
* Add native tests

[2019-11-04 12:42] cescoffier opened #355 "Add tests to the openid connect quickstart"
* Add Quarkus tests
* Add native tests

[2019-11-04 19:37] rsvoboda opened #356 "Quickstarts are using quarkus-maven-plugin way to build native image, not the new and preferred way"
Quickstarts are using `quarkus-maven-plugin:native-image` way to build native image, not the new and preferred way using `<quarkus.package.type>native</quarkus.package.type>`

[2019-11-04 19:48] rsvoboda opened #357 "Difference between Quickstarts and getting-started bootstrap project in pom.xml"
There are difference between Quickstarts and getting-started bootstrap project in pom.xml
 - defined plugins (maven-compiler-plugin)
 - defined properties (5, 6 vs. 8 in getting started)
 - version mismatch (surefire versions 2.22.0 vs 2.22.1)
 - native profile (tracked via https://github.com/quarkusio/quarkus-quickstarts/issues/356)

Examples
 - https://github.com/quarkusio/quarkus-quickstarts/bl

[2019-11-08 01:43] gastaldi commented on #118
This issue can be closed, I suppose?

[2019-11-09 10:42] #118 closed

[2019-11-11 15:36] rsvoboda opened #366 "security-openid-connect-web-authentication-quickstart - test are failing"
security-openid-connect-web-authentication-quickstart - test are failing with message `org.opentest4j.AssertionFailedError: expected: <Log in to quarkus> but was: <Welcome to Your Quarkus Application>`

Might be related to https://github.com/quarkusio/quarkus/pull/5315
@stuartwdouglas @pedroigor

Noticed when did https://github.com/quarkusio/quarkus-quickstarts/pull/365 change to make compilation

[2019-11-12 07:22] #366 closed

[2019-11-12 15:50] sberyozkin commented on #366
Hmm, It was passing for me, why it was failing ?

[2019-11-12 16:40] sean-scott-lr opened #369 "JWT-security has errors when used with opentracing extension."
1) Follow the security-jwt guide [link](https://quarkus.io/guides/security-jwt )
2) Add opentracing extension ( add to pom.xml )
[code]
3) Send a GET request to `http://localhost:8080/secured/roles-allowed` with no Authorization Header ( or with a bogus value for the Bearer token )
4) Observe log message

[code]

[2019-11-12 16:41] sean-scott-lr commented on #369
Version 1.0.0.CR1

[2019-11-12 17:44] sberyozkin commented on #369
@sean-scott-lr @cescoffier `quarkus-smallrye-jwt` works with Vertx HTTP, right ? Just noticed the Undertow exception

[2019-11-12 17:46] cescoffier commented on #369
You can still add quarkus-undertow as a dependency, and deploy your servlets.

[2019-11-12 17:49] sberyozkin commented on #369
@cescoffier thanks, but here we have a JAX-RS app. Should the fix be about removing [this dependency](https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-opentracing/runtime/pom.xml#L47) ? Otherwise I guess it has to be excluded in this case in the demo ?

[2019-11-12 17:59] sberyozkin commented on #369
I will try to exclude

[2019-11-12 18:08] sberyozkin commented on #369
Going to open a quarkus issue

[2019-11-12 18:18] sean-scott-lr commented on #369
@sberyozkin Correct, I am not trying to use servlets or undertow. ( I have not added quarkus-undertow  as a dependency)  I am just using JAX-RS.

[2019-11-12 18:27] sberyozkin commented on #369
@sean-scott-lr can you please exclude `quarkus-undertow` from `quarkus-smallrye-opentracing` ?
I'm getting
[code]
But the build itself passes when I remove this dependency in Quarkus master

[2019-11-12 18:31] sean-scott-lr commented on #369
I tried changing the dependency in my pom.xml to
`    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-smallrye-opentracing</artifactId>
      <exclusions>
        <exclusion>
          <groupId>io.quarkus</groupId>
          <artifactId>quarkus-undertow</artifactId>
        </exclusion>
      </exclusions>
    </dependency>`

Still see this in the logs.

`Caused by: java

[2019-11-12 18:48] sberyozkin commented on #369
Opened https://github.com/quarkusio/quarkus/issues/5419

[2019-11-12 21:16] stuartwdouglas commented on #366
Because nothing was marked as needing authentication, so once my fixes were merged it stopped asking to log in.

[2019-11-13 06:40] wenfer opened #371 "amqp-quickstart alert 'Disconnected'"
all is default config

is something need config in rabbitmq?

create queue or exchanges  or anything else?

env:
rabbitmq 3.8.1
windows10  x64
jdk8

[2019-11-13 07:07] cescoffier commented on #371
RabbitMQ is not supported. Our AMQP support is for AMQP 1.0.
To support RabbitMQ you would need a MicroProfile Reactive Messaging connector for RabbitMQ.

Clement
On 13 Nov 2019 at 07:40 +0100, wenfer <notifications@github.com>, wrote:

[2019-11-13 07:17] wenfer commented on #371
ok , i got it

[2019-11-13 07:17] #371 closed

[2019-11-13 11:34] cescoffier opened #373 "ElasticSearch quickstart broken"
[code]

[2019-11-13 11:35] cescoffier opened #374 "OICD quickstart broken in native mode"
[code]

[2019-11-13 11:37] gsmet commented on #373
Well, maybe people shouldn't merge PRs on components I'm responsible of :).

https://github.com/quarkusio/quarkus-quickstarts/pull/359 hasn't been merged while the core repo PR has been merged, thus the issue.

[2019-11-17 11:46] sheryf opened #379 "amqp-quickstart : error @ amqp-quickstart using RabbitMQ"
2019-11-17 11:28:07,268 SEVERE [io.ver.cor.net.imp.ConnectionBase] (vert.x-eventloop-thread-0) An existing connection was forcibly closed by the remote host
2019-11-17 11:28:12,081 SEVERE [io.ver.cor.net.imp.ConnectionBase] (vert.x-eventloop-thread-1) An existing connection was forcibly closed by the remote host
2019-11-17 11:28:12,082 ERROR [io.sma.rea.mes.amq.AmqpConnector] (vert.x-eventloop-thr

[2019-11-18 11:55] rsvoboda opened #380 "vertx-quickstart quickstart broken in native mode"
vertx-quickstart quickstart broken in native mode, running via `mvn verify -pl vertx-quickstart` command. Test is passing in jvm mode.

[code]

[2019-11-18 12:04] cescoffier commented on #380
Hello,

This is not the Quickstart that is broken, it’s the called service :-)
We need to seriously consider rewriting the quickstart with another / more reliable service.

On 18 Nov 2019 at 12:55 +0100, Rostislav Svoboda <notifications@github.com>, wrote:

[2019-11-18 12:06] rsvoboda commented on #374
Fixed, checked against Quarkus master, using `mvn verify -pl security-openid-connect-web-authentication-quickstart -Dnative` command

[2019-11-18 12:06] #374 closed

[2019-11-18 12:14] rsvoboda opened #381 "OICD quickstart execution poluted by css error, native mode"
OICD quickstart execution poluted by css error, using `mvn verify -pl security-openid-connect-web-authentication-quickstart -Dnative` command

Message like vvv is repeated more than 10 times, console / log is very messy.
`Nov 18, 2019 1:04:30 PM com.gargoylesoftware.htmlunit.DefaultCssErrorHandler error`
`WARN: CSS error: 'http://localhost:8180/auth/resources/e51gj/login/keycloak/node_modules/patt

[2019-11-20 17:49] jdang67 opened #388 "@ConfigProperty fails to map value to l class variable variable"
Hi,

The example using **_@ConfigProperty_**  works.
However, when I using the same technique in another class, then the value always null.  Is this a bug or  I am missing something here?

thanks,

Jdang

[code]

[2019-11-20 17:56] gsmet commented on #388
The value will only be injected in proper CDI beans.

[2019-11-20 20:43] jdang67 commented on #388
Thanks for your answer, I'm just switching to java for this project. So what do I need to do to make this work?

Jdang

[2019-11-29 13:49] #388 closed

[2019-11-29 13:54] cescoffier opened #392 "Infinispan quickstart issues / improvements"
There are few issues / improvements around the infinispan quickstart:

* it uses `:latest`, the issue with this is that it give various results depending on when you pull the image for the first time. Right now for me, it gave `10.1.0.Beta1`, which is probably very recent, but not stable.

* the cache create must be improved:

Currently, it uses some XML snippets added at startup:

[code]

* it se

[2019-11-29 13:55] cescoffier commented on #392
Issues can be reproduced with: https://github.com/quarkusio/quarkus-quickstarts/pull/352

[2019-11-29 13:56] cescoffier commented on #392
@karesti  can you have a look?

[2019-12-02 08:49] emmanuelbernard commented on #392
Ont he race condition, CC @wburns

[2019-12-04 08:44] mkouba opened #394 "Create Qute quickstart"

[2019-12-06 13:41] cescoffier commented on #394
Done!

[2019-12-06 13:41] #394 closed

[2019-12-06 13:44] mkouba commented on #394
Thanks @cescoffier, I forgot to close the issue ;-).

[2019-12-08 21:56] Hollerweger opened #396 "Native multistage docker buid fails for spring-data-jpa-quickstart"
Here my added docker multistage file to 1.0.1.Final spring-data-jpa-quickstart:
[code]

Docker build command:
`docker build -f src/main/docker/Dockerfile.multistage -t quarkus-spring-data-jpa-quickstart .\`

Exception:
[code]

[2019-12-08 22:10] gsmet commented on #396
Exit code 137 means not enough memory to build the native image.

On Sun, Dec 8, 2019 at 10:56 PM Martin <notifications@github.com> wrote:

[2019-12-08 23:23] Hollerweger commented on #396
@gsmet Thanks for the quick response! Overlooked this error. Build works after increasing the memory for docker engine.

[2019-12-08 23:23] #396 closed

[2019-12-09 09:33] aruis opened #397 "vertx-quickstart EventResourceTest failure"
[code]

I judge it is caused by @PathParam not getting parameters.
This screenshot illustrates the problem.
![截屏2019-12-09下午5 17 29](https://user-images.githubusercontent.com/1785495/70423905-671d7380-1aa9-11ea-8808-cf08e73220a2.png)

If you improve the greeting method declaration like this, you can fix this problem.
[code]

So is this a problem? Need to improve the use of @PathParam?

[2019-12-09 09:35] cescoffier commented on #397
@FroMage seems to be another issue about the @PathParam. Can you have a look?

[2019-12-10 17:29] jstakun opened #398 "Spring Web with Kubernetes fails to build native image"
Hello

I've added to spring-web-quickstart example Kubernetes client dependency and added simple test api endpoint:

package org.acme.spring.web;

import java.util.Hashtable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import io.fabric8.kubernetes.api.model.Pod;
import io.fabric8.kubernetes.client.KubernetesClient;
i

[2019-12-10 17:31] gsmet commented on #398
Exit code 137 often means not enough memory to build the native image.

Time to close some browser tabs :).

On Tue, Dec 10, 2019 at 6:29 PM Jaroslaw Stakun <notifications@github.com>
wrote:

[2019-12-10 18:09] jstakun commented on #398
Thanks! Increasing -Xmx for maven solved this issue

[2019-12-10 18:09] #398 closed

[2019-12-12 02:26] aruis commented on #397
when use @PathParam, should I import org.jboss.resteasy.annotations.jaxrs.PathParam or javax.ws.rs.PathParam?

[2019-12-12 06:53] cescoffier commented on #397
With `org.jboss.resteasy.annotations.jaxrs.PathParam` you should be able to not have to indicate the parameter name in the annotation. It reuses the parameter name from your code.

[2019-12-13 08:50] Anand0583 opened #401 "Gettting Started Not working with latest quarkus plugin version 1.1.0.CR1"
When the getting-started is upgraded to 1.1.0.CR1 version then build is failing with the following error.

`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.1.0.CR1:build (default) on project getting-started: Failed to build a runnable JAR: Failed to augment application classes: Property quarkus.http.auth.form.landing-page not found `

pom.xml
` <quarkus-plugin.version>1.1.0.CR1</q

[2019-12-15 13:36] northbyte commented on #401
I've encountered the same when upgrading my application from `1.0.1.Final` to `1.1.0.CR1` as well.
Unfortunately I cannot share the code, however just by compiling on jdk8 seems to make it fail.

[code]

[2019-12-19 06:03] harpreetsingh29 opened #407 "Native Image Generation Failure | NoSuchFileException | Windows 10"
Error while building native image on getting-started in windows 10 (pom has 1.0.1 FInal and even tested with the next version):
[code]
[FullLogs.txt](https://github.com/quarkusio/quarkus-quickstarts/files/3982012/FullLogs.txt)

Note: I only have C Drive in my system.

**System/Software Configuration Details**:
![image](https://user-images.githubusercontent.com/28382120/71148688-5495fd80-2252-11ea-

[2019-12-26 06:05] lizhuoxuan commented on #397
I had the same problem in the first time of run test, when I test again, the error disappeared. It is probability event, I can't reappear this error precisely. It's weird. My IDEA version is 2019.3.1, maven version is 3.6.3, jdk version is 1.8.0_231.

[2019-12-31 17:15] nmcl opened #410 "Add basic ToDo example to STM quickstart"
Part of https://github.com/quarkusio/quarkusio.github.io/pull/417

[2020-01-05 11:00] mhartwig opened #412 "Importing sample realm config for keycloak is not possible"
Importing the keycloak sample config of [security-openid-connect-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-openid-connect-quickstart) fails with newest keycloak docker images, because the packaging format was changed.

[code]

[2020-01-05 11:04] gsmet commented on #412
@sberyozkin @pedroigor could you have a look at that one?

[2020-01-05 11:17] mhartwig commented on #412
I updated the realm config with a working one: https://github.com/quarkusio/quarkus-quickstarts/pull/413

[2020-01-10 07:59] lizhuoxuan opened #418 "Can't find quarkus-maven-plugin 1.1.1.Final,when use maven."
latest version is 1.1.0 in mvnrepository.
![image](https://user-images.githubusercontent.com/19903476/72135470-89185780-33c1-11ea-9869-87df9df8a52f.png)

[2020-01-10 08:51] agoncal commented on #401
I have the same problem with 1.1.1.Final

[2020-01-10 09:08] cescoffier commented on #401
Can you check that the Qurkus version and the platform versions are aligned?

[2020-01-10 09:22] agoncal commented on #401
Yes, you are right. It works with:

[code]

Slightly confusing to have two different versions. I suppose if they evolve separatelly it make sense, but if they both follow the same pace and release, it could help to only have one version.

[2020-01-10 09:42] cescoffier commented on #401
@maxandersen I let you comment on this.

[2020-01-13 09:42] laudukang commented on #407
[code]
same issue in win10 1909, docker desktop same as above
quarkus.platform.version: 1.1.1.Final

[2020-01-14 04:17] maxandersen commented on #401
I think this another example of where tools break due to core change or vice versa; @aloubyansky are you aware of this one ?

[2020-01-14 09:10] aloubyansky commented on #401
No, I wasn't. For people wanting update: changing `quarkus-plugin.version` does not affect the Quarkus core and other extension versions, it's only the maven plugin version (which may and probably will have its own release cycle in perspective).
To actually upgrade to the latest (or switch in general to another) version of Quarkus and its extensions you should be changing `quarkus.platform.version

[2020-01-17 17:39] #369 closed

[2020-01-17 17:39] #381 closed

[2020-01-20 15:21] rsvoboda commented on #418
It's probably something on https://mvnrepository.com/artifact/io.quarkus/quarkus-maven-plugin side

I can see it when looking at
https://repo1.maven.org/maven2/io/quarkus/quarkus-maven-plugin/1.1.1.Final/
https://repo.maven.apache.org/maven2/io/quarkus/quarkus-maven-plugin/1.1.1.Final/

@cescoffier / @gsmet fyi
Did 1.1.1.Final have any trouble during the release ?

[2020-01-20 15:51] rsvoboda opened #433 "QS are using quarkus-bom and not quarkus-universe-bom"
QS are using quarkus-bom and not quarkus-universe-bom.

quarkus-universe-bom is the default for new project generated by `io.quarkus:quarkus-maven-plugin:create`

I can see benefit of quarkus-bom approach on development branch when running against quarkus master. But what about released versions of QS / master ? Should it be using quarkus-universe-bom or not ?

Side info about propertiesdefined in

[2020-01-20 15:58] gsmet commented on #433
Please do not fix that right away as it's a much more complicated issue than it looks.

[2020-01-20 16:18] rsvoboda commented on #433
I do not plan to do anything about this. I want discussion about this first. As I wrote before I see benefits of current approach for development branch. Doing switch for master/tags is non trivial task and I don't take quarkus-platform complexity into account.

[2020-01-22 13:51] karesti commented on #159
is it normal this issue to be still open? @cescoffier @rsvoboda

[2020-01-29 17:19] fhopfensperger commented on #112
I think the quickstart needs to be totally rewritten, as knative deprecated knative builds.
See https://github.com/knative/build/issues/614

[2020-01-29 17:35] kameshsampath commented on #112
Yes. I need to rewrite this.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Florian Hopfensperger <notifications@github.com>
Sent: Thursday, January 30, 2020 6:19:34 AM
To: quarkusio/quarkus-quickstarts <quarkus-quickstarts@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [quarkusio/quarkus-qu

[2020-02-04 09:27] rsvoboda opened #450 "QS have variety of Quarkus Version in index.html"
QS have variety of Quarkus Version string in index.html

Should it be unified to some generic string?
Or it should be 999-SNAPSHOT and when tagging changed to the relevant version?

Logs:
[code]

[code]

[2020-02-04 09:43] maxandersen commented on #433
whats the challenges to have quickstart use latest ? we should be able to use 999-snapshot of platform too?

[2020-02-04 11:40] gsmet commented on #433
It's not about challenges, it's about order of execution. Right now, the quickstarts are not tied to the platform and we can release them without the platform.

As soon as they are consuming the platform, that means that we won't be able to release the quickstarts without a released version of the platform.

[2020-02-04 11:55] gsmet commented on #450
I fixed it and included a `sed` in the release scripts.

[2020-02-04 11:55] #450 closed

[2020-02-04 11:57] gsmet commented on #418
No, it's just that these websites are not updated right away.

The only way to find them just after a release is to go to the source. It can take several hours/days for these websites to be updated.

[2020-02-04 11:57] #418 closed

[2020-02-04 11:57] gsmet commented on #412
The PR has been merged.

[2020-02-04 11:57] #412 closed

[2020-02-07 06:46] CrystalMethod commented on #205
RestAssured 4.2.0 comes with JsonB support.
https://github.com/rest-assured/rest-assured/pull/1257

[2020-02-09 04:56] kameshsampath commented on #112
@cescoffier  and @fhopfensperger  - am rewriting this now and send a PR

[2020-02-09 13:47] kameshsampath commented on #112
@cescoffier , @fhopfensperger  - the updates are here https://github.com/quarkusio/quarkus-quickstarts/pull/462 for review and merge

[2020-02-20 11:48] belkevglaz commented on #379
Have the same issue with `RabbitMQ 3.8.2`
If I run amqp-quickstart with default docker-compose - all working as described, but when change  docker-compose file to use RabbitMQ :
[code]
I got the same problem as @sheryf
Is there any where working example not for Kafka & ActiveMQ, but with RabbitMQ? I
Is in AMQP 1.0 supporting by RabbitMQ problem ?

[2020-02-20 14:57] sberyozkin opened #467 "Update the realm file to the Keycloak 9 compliant version in OIDC quickstarts"

[2020-02-20 14:59] belkevglaz commented on #379
Update:
The issue is really in AMQP 1.0.
RabbitMQ works by default in AMQP 0-9-1, but quarkus & smallrye & microprofile & vertx works over AMPQ 1.0.
In logs of rabbit I saw these erorrs :
[code]
After enable 1.0 on rabbitmq using command `rabbitmq-plugins enable rabbitmq_amqp1_0` the error was gone and I was able to post a message.

[2020-02-27 10:21] rsvoboda opened #476 "Make the GAV of the BOM parametrized"
Quarkus QS have only Quarkus version parametrized. We need to move full GAV of the BOM parametrized same as in bootstrap projects generated by quarkus maven plugin.

Current format
[code]
Target format
[code]

pom.xml from the bootstrapped project
[code]

[2020-02-27 10:35] maxandersen commented on #476
besides making this then usable for users using different versions of platform it can also be used for when we do CI testing of quickstarts without having to modify the pom.

[2020-02-28 13:00] rsvoboda commented on #476
@gsmet this is blocker from my perspective, we need a way to customize BOM definition from command line to avoid forks with hard-coded BOM GAVs.

[2020-03-03 17:46] #353 closed

[2020-03-10 19:30] lfmunoz commented on #379
What's the solution to this if I can't modify the the the rabbitmq instance? Is it to write a new extension using vertx rabbitmq client instead of the ampq client?

[2020-03-12 06:58] cescoffier commented on #379
Yes, you would need to implement a Connector using the RabbitMQ client. Feel free to open a PR on SmallRye Reactive Messaging. I would be happy to help if you need assistance.

[2020-03-12 08:51] carlosthe19916 opened #488 "Kogito Bug when using Declared Types"
I've been trying to use Kogito and Quarkus but I ended up not being able to use all the features that Drools gives. I'm not sure where to raise this bug so I'll start reporting it here:

If I declare a type inside a `.drl` file the I have an exception: `/classes/META-INF/native-image/org/acme/kogito/reflect-config/json.java (11:1) : class, interface, or enum expected`.

To reproduce the error you

[2020-03-12 13:11] rsvoboda opened #489 "hibernate-search-elasticsearch-quickstart QS fails with GraalVM 19.3.1"
hibernate-search-elasticsearch-quickstart QS fails with GraalVM 19.3.1 in JVM mode
It didn't fail when I used OpenJDK 8 and 11. `elasticsearch-maven-plugin:6.15:runforked` phase is failing.

[code]

Reproducer:
[code]

Longer version from console:
[code]

[2020-03-12 13:19] rsvoboda commented on #489
@gsmet fyi

[2020-03-12 13:27] rsvoboda commented on #489
PostgreSQL container is not stopped because of this and breaks other QS execution.
In my case it caused failures of https://github.com/quarkusio/quarkus-quickstarts/blob/master/security-jdbc-quickstart/src/test/java/org/acme/elytron/security/jdbc/JdbcSecurityRealmTest.java#L25  (I use `-fae` for maven command)

[2020-03-12 13:53] aguibert commented on #489
Regarding the leftover PostgreSQL container:

whenever testcontainers starts up a container, by default it will add that container to be automatically cleaned up in a JVM shutdown hook
I think the only reason the container is left around in this case is because the JVM is crashing and shutdown hooks aren't running. Normally this wouldn't conflict with subsequent runs because by default testcontain

[2020-03-12 14:04] cescoffier commented on #476
We can parameterize the bom, but the QS cannot use the platform.

[2020-03-12 14:50] rafaeltuelho opened #490 "change quickstarts to use an inMemory DB to make it easy to test and try"
some quickstarts has its Data Source configured to use Postgres DB. It would be easier to use an inmem DB like H2SQL or Derby...

[2020-03-14 07:29] michael-schnell opened #498 "Wrong test source folder in security-keycloak-authorization-quickstart"
The test source folder in the "security-keycloak-authorization-quickstart" is:
`
https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-keycloak-authorization-quickstart/src/test/java/org.acme.keycloak.authorization
`

It should be:
`
https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-keycloak-authorization-quickstart/src/test/java/org/acme/keycloak/authorization

[2020-03-16 16:48] davidhervas opened #500 "Vert.x multi-threaded worker verticles"
Hi,
I'm currently teaching myself how to develop some small REST WebServices with Quarkus.
I have been implementing following guide : [https://quarkus.io/guides/reactive-messaging](url)

I have a task that can be split in several sub-tasks and be performed concurrently, I don't manage to get that working with Quarkus and I seek for help.

I defined a bean/verticle :
[code]

From my REST endpoint m

[2020-03-17 13:43] cescoffier commented on #500
Instead of @ConsumeEvent, just deploy your verticle as you would do in "regular" Vert.x:

[code]

[2020-03-18 10:04] davidhervas commented on #500
Thanks, you have confirmed my understanding of native Vert.x and Vert.x over Quarkus.
I hope this basic feature of Vert.x will be soon available through @ConsumeEvent or similar quarkus anotations.

[2020-03-18 10:04] #500 closed

[2020-03-19 10:09] ge0ffrey opened #504 "optaplanner-quickstart: hibernate crashes in quarkus:dev mode if unused for a while"
How to reproduce:

1. Run "mvn compile quarkus:dev" for `optaplanner-quickstart`
2. Open localhost:8080, everything is fine. Refresh, everyhing is fine.
3. Wait 10 minutes. Refresh. See the stacktrace below:

[code]

[2020-03-19 10:10] ge0ffrey commented on #504
@Sanne Could this be a bug in Hibernate, H2 or the quarkus code around these components?

[2020-03-19 10:43] ge0ffrey commented on #504
It does reproduce consistently. It's a great way to force me to avoid checking corona news :)

[code]

[2020-03-19 11:37] Sanne commented on #504
Hi @ge0ffrey !  Interesting, I don't know what could be the cause. Hibernate certainly doesn't drop tables - unless it's being restarted from some reason and configured to drop tables on boot, but even then it would re-create them. FWIW, Hibernate doesn't have any timer so this is likely triggered by some other component.

Also you might want to consider that we don't generally support using H2 in

[2020-03-19 11:38] Sanne commented on #504
you're welcome, enjoy! 😄

[2020-03-19 15:50] davidhervas commented on #500
Hi,

I managed to make it work in Quarkus.

This will start 4 instances of class MyVerticle.
Those 4 instances are not "Worker", there are "Event loop".
Those 4 instances will not run concurrently. Each one is waiting for ther same specific message on the event bus. When the event bus fire such specific message, only one of those 4 instances will receive it (one instance which is currently free).

[2020-03-20 12:51] ge0ffrey commented on #504
@Sanne I still prefer to use the H2 in embedded mode for non-native runs, to lower the barrier to entry: `mvn compile quarkus:dev` just works, without jumping through any hoops to set up a Database server first. Just like the Spring examples. That's a much better Getting Started Experience.

[2020-03-22 15:15] danielpetisme commented on #205
Looks like `RestAssured.objectMapper(mapper);` has been removed in 4.2.0
https://github.com/rest-assured/rest-assured/pull/1257#issuecomment-575677954
You can still use
[code]

I tried to test
[code]

Without success ... where the "old" way to define the default works (the one above)
[code]

[2020-03-26 09:04] timactive opened #510 "Keycloak authorization/ Get AuthzClient instance / Remote manage protected resource"
I search the best method to manage UMA protected resource in quarkus project who implemented keycloak authorization.

This process indicate below don't work for me, my servlet request don't include keycloackSecurityContext.
https://github.com/keycloak/keycloak-quickstarts/blob/latest/app-authz-uma-photoz/photoz-restful-api/

1) getKeycloakSecurityContext
return null
2) getAuthorizationContext
3) g

[2020-03-26 13:52] FroMage commented on #397
Does this issue still happen with `1.3.0.Final`?

[2020-03-27 17:01] amanrique1 opened #512 "The project isn't finding the paths"
When I run my project that has a child pom it generates the native image and find the default webpage but it can't find any of the declared paths

[2020-03-27 17:02] amanrique1 commented on #512
External pom
`<?xml version="1.0" encoding="UTF-8"?>
<project>
	<modelVersion>4.0.0</modelVersion>

	<groupId>com.fielopolis.qrpay</groupId>
	<artifactId>payserver</artifactId>
	<version>1.0-SNAPSHOT</version>
	<packaging>pom</packaging>
	<name>${project.artifactId}</name>
	<modules>
		<module>jar</module>
	</modules>

	<properties>
		<quarkus-plugin.version>1.3.0.Final</quarkus-plugin.version>

[2020-03-27 17:02] amanrique1 commented on #512
Internal pom:
`<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>com.fielopolis.qrpay</groupId>
		<artifactId>payserver</artifactId>
		<version>1

[2020-03-30 14:11] rsvoboda commented on #433
Definition of BOM is parametrized now, quarkus-bom is still the default.
https://github.com/quarkusio/quarkus-quickstarts/blob/master/getting-started/pom.xml#L11

Will it change to quarkus-universe-bom or this issue can be closed as we stick with quarkus-bom?

[2020-03-31 06:07] maxandersen commented on #433
@gsmet is there a reason why we don't wait to release the quickstarts before the matching platform is out ?

we can still have tests etc. run against quarkus-bom using the parameter introduced.

[2020-03-31 09:12] Adelrisk opened #514 "No messages with out-of-the-box ampq-quickstart (ActiveMQ-Artemis)"
## Problem:

The `ampq-quickstart` for quarkus version `1.3.1.Final` doesn't demonstrate any successful asynchronous AMPQ processing, but instead blocks when sending the first message. As the upstream message of further processing/messages, nothing else happens without this trigger.

I can more-or-less confirm this by changing the log levels. The last logged statement is the intent to send:

[code

[2020-03-31 09:30] cescoffier commented on #514
Do you mean that for you the quickstart does not work at all?

[2020-03-31 09:40] Adelrisk commented on #514
I realise I didn't say it clearly. Here goes:

The quickstart doesn't demonstrate successful asynchronous processing, but instead blocks when sending the first message. As the upstream message of further processing/messages, nothing else happens.

[2020-03-31 09:42] cescoffier commented on #514
Let me try to reproduce this. If the message cannot be sent, it's expected to not try to send any other message.

[2020-03-31 09:51] cescoffier commented on #514
It seems to work as expected.

Your issue is in the AMQP broker:
artemis_1  | 2020-03-31 08:52:51,365 WARN  [org.apache.activemq.artemis.core.server] AMQ222210: Storage usage is beyond max-disk-usage. System will start blocking producers.

So, producers are blocked, meaning they don't get acknowledgment.

Be sure your docker container has enough disk space.

[2020-03-31 09:56] Adelrisk commented on #514
Thanks for the quick response! Sounds believable. Thanks for your help.

I can probably solve this problem outside of this ticket.

(A little annoying that something like this can just happen.)

[2020-03-31 09:56] #514 closed

[2020-03-31 09:58] cescoffier commented on #514
No problem! I actually didn't know this behavior!

[2020-03-31 11:26] Adelrisk commented on #514
FYI: I have resolved this issue by ensuring I have more than 10% disk free on my docker host machine! It's probably a bug/feature question, that the combination of docker + ActiveMQ-Artemis stack react to the availability of space on my machine.

[2020-03-31 11:30] cescoffier commented on #514
it's a docker thing, unfortunately.

[2020-04-01 10:18] ge0ffrey commented on #504
Guys, there's clearly a bug here in Quarkus when using H2 embedded with Hotspot.
It's easy to reproduce and serious (see PR description). It's unclear what component is causing it.
@ia3andy @Sanne What's the process to make progress on this issue? Or are we closing it as "won't fix"?

[2020-04-01 11:03] Sanne commented on #504
There's no need to close it @ge0ffrey , and I've not rejected it either - but I'm considering this low priority (especially as it's not being used like we suggest) and need to focus on other issues first. So let's just leave it here?

There's also the possibility that it could be an H2 bug - we don't maintain the database.

Someone would need to find some time to figure out what's going on in more

[2020-04-01 12:43] ge0ffrey commented on #504
Thanks @Sanne - makes sense - is there a label / assignee to mark it as being in the hibernate's team backlog (or in yours personally)?

[2020-04-01 13:24] Sanne commented on #504
ah, I see the source of confusion now: we should transfer this bug to Quarkus, you've opened it on the quickstarts. We have better labels and overview in the main repository.

[2020-04-02 11:01] cradloff opened #517 "Kafka Quickstart: Test Resource opens Kafka Container twice"
The class KafkaResource holds an instance of KafkaContainer. In the start method, another KafkaContainer is started but never closed. In the stop method, the container from the instance is closed instead.

https://github.com/quarkusio/quarkus-quickstarts/blob/ceb711a04d59c5f8a7bbf8e1e7731c23e2d93acd/kafka-quickstart/src/test/java/org/acme/kafka/KafkaResource.java#L16

[2020-04-02 13:52] gsmet commented on #517
Thanks for reporting this, I created https://github.com/quarkusio/quarkus-quickstarts/pull/518 .

[2020-04-02 13:53] gsmet commented on #512
I don't think this is related to the quickstart. If you have an issue with a Quarkus app, please create an issue in the main Quarkus repository with a reproducer.

Thanks.

[2020-04-02 13:53] #512 closed

[2020-04-02 13:56] gsmet commented on #498
I think this has been fixed somehow. Thanks for the report.

[2020-04-02 13:56] #498 closed

[2020-04-02 13:57] gsmet commented on #489
/cc @yrodiere any chance we could use a GC supported by GraalVM out of the box?

[2020-04-02 14:08] yrodiere commented on #489
@gsmet Totally. We can customize jvm options easily. In fact we already do: https://github.com/quarkusio/quarkus-quickstarts/blob/master/hibernate-search-elasticsearch-quickstart/src/test/resources/elasticsearch-maven-plugin/configuration/jvm.options#L39

Ideally, I'd prefer using a separate JVM for Elasticsearch, as I don't think the Elasticsearch team supports running ES on GraalVM. That can be

[2020-04-07 09:56] #510 closed

[2020-04-08 10:24] sirfak opened #520 "Unable to support mongodb+srv// style connections as the 'com.sun.jndi.dns.DnsContextFactory' class is not available in this JRE"
Hi I created quarkus mongodb panache project and trying to connection to mongo atlas. But it seems i get error saying _Unable to support mongodb+srv// style connections as the 'com.sun.jndi.dns.DnsContextFactory' class is not available in this JRE_

I am using AWS Corretto JDK 11 on Ubuntu.
This is my application.properties
quarkus.mongodb.connection-string = mongodb+srv://username:password@test-3

[2020-04-11 02:46] mishraomp opened #521 "Update documentation and example tp show how to secure rest endpoint with oauth2 token scopes."
There is no documentation around, how to secure a rest resource based on jwt token scope using annotation, the only annotation we can use is ` @RolesAllowed({"WRITE_DATA"})`.

would like to know how to secure with scope.
{
  "jti": "1fbc98bf-16dd-4b19-b6a6-725fc9949d96",
  "exp": 1586572797,
  "nbf": 0,
  "iat": 1586570997,
  "iss": "**********************",
  "aud": "account",
  "sub": "82558a4b-

[2020-04-13 06:25] heike2718 opened #523 "vertx-quickstart question"
There seems to be something missing in the [vertx-quickstart](https://quarkus.io/guides/vertx) documentation.

The GreetingResource being annotated with  @Produces(MediaType.TEXT_PLAIN) returns a Uni<String> which is mapped to a io.smallrye.mutiny.context.ContextPropagationUniInterceptor-Object.toString() instead of the expected Content ("Hello" or "Lorem ipsum..."). I.e. http://localhost:8080/lor

[2020-04-13 06:34] cescoffier commented on #523
Can you check you have the `quarkus-resteasy-mutiny` in your dependencies?

[2020-04-13 06:48] heike2718 commented on #523
@cescoffier

OK this was the missing part. Unfortunately I overlooked the hint "requires the quarkus-resteasy-mutiny extension".

Now it works all fine.

Thanks a lot!

I wil close the issue.

[2020-04-13 06:48] #523 closed

[2020-04-17 16:03] cemnura commented on #354
Hello @cescoffier,

I had a poke on this and would love for you to review. I am creating a pull request.

Also I noticed that there is a documentation request on oauth2 topic #521 which I was thinking to include with the quarkus test for ``security-oauth2-quickstart`` that I would also want to work on.

[2020-04-18 05:42] cescoffier commented on #354
Thanks, I will have a look today or tomorrow.

[2020-04-18 10:39] cemnura commented on #354
Thanks. I will be looking forward to your review.

[2020-04-19 10:19] crilofer opened #530 "Getting-started testGreetingEndpoint() AssertionError"
OS: macOS Catalina 10.15.4
mvn --version = 3.6.3
JDK = 1.8

[code]

[2020-04-19 11:32] crilofer commented on #530
I was using `1.2.0.Final` as `quarkus.platform.version`. Probably there was any issue with RestEasy in previous versions.

[2020-04-19 11:32] #530 closed

[2020-04-21 06:57] rsvoboda opened #532 "security-openid-connect-multi-tenancy quickstart fails with Quarus master"
security-openid-connect-multi-tenancy quickstart fails with Quarus master

@sberyozkin fyi

[code]

[2020-04-21 16:33] sberyozkin commented on #532
This issue has been unmasked by the PR logout merge (with the correct changes I believe), looking into a fix

[2020-04-23 07:39] rsvoboda opened #534 "getting-started-reactive-crud doesn't compile with Quarkus master"
getting-started-reactive-crud doesn't compile with Quarkus master

If code changes are needed do not forget about guides - getting-started-reactive.adoc ++ docs/src/main/asciidoc/reactive-sql-clients.adoc:

[code]

[2020-04-23 07:41] cescoffier commented on #534
It's a known issue. There is breaking change in Vert.x 3.9.0, but it got merged only yesterday. I will update the QS today.

[2020-04-23 17:15] sberyozkin opened #536 "Show OIDC RP Initiated Logout in Action with Qute"
We don't really need to create another quickstart, instead we can update the web authentication quickstart and add some cool Qute page, which will let the user interact with the protected endpoint and also offer a logout option.
Once the user logs in, this page will show "Welcome Alice" (where `Alice`/etc user name will be extracted from the injected id token), and when the user presses a logout o

[2020-04-26 16:28] pjverity opened #541 "Brackets used in RETURNING keyword can cause issues"
https://github.com/quarkusio/quarkus-quickstarts/blob/375d533cda13e929fdc649f76304f86adfe6ba8e/getting-started-reactive-crud/src/main/java/org/acme/reactive/crud/Fruit.java#L60

The [PostgreSQL documentation](https://www.postgresql.org/docs/12/dml-returning.html) for use of the `RETURNING` clause does not indicate that brackets should surround column names in the clause. This _only_ appears to wor

[2020-04-26 17:22] BogdanSukonnov commented on #407
I had the same issue. Solved it by sharing C drive in Docker settings. I think it needs to be in guide.
![image](https://user-images.githubusercontent.com/49834667/80314667-8ff59980-87fb-11ea-9ab3-cbf44baa7f1c.png)

[2020-04-27 09:03] wjsgzcn opened #542 "quartz clustering not working"
I followed the sample codes of quartz, all works well, but when I deploy two replicas in docker stack, the tasks servers works separately, and add double records into the database table.

It seems the quartz clustering is not configured properly? Or there is something I forgot to write?

[2020-04-27 09:44] wjsgzcn commented on #542
I find the solution.

The sample code of TaskBean missing an important parameter of @Scheduled.

Change to the following line of code and CLEAN your quartz tables:
[code]
Well, identity is the key of quartz tasks, if you don't define the identity, it will generate a random one, so there is two same task but not one.

[2020-04-27 09:44] #542 closed

[2020-04-27 10:03] gsmet commented on #542
Which version of Quarkus were you using? Because the name shouldn't be random started with Quarkus 1.4.1.

[2020-04-27 10:39] wjsgzcn commented on #542
At first I use 1.3.2, then I change into 1.4.1 after I find the problem.

After change to the new version, I found the same problem.

Perhaps because I did not clean my database tables after upgrading to 1.4.1?

[2020-04-27 10:49] gsmet commented on #542
Yes, that might explain it. In 1.4.1, it should work without an identity defined.

[2020-04-27 10:51] gsmet commented on #542
See https://github.com/quarkusio/quarkus/issues/8661 .

[2020-04-29 05:55] ilkin opened #546 "kafka-streams-quickstart has no test coverage"

[2020-04-29 20:22] adrianfiedler opened #547 "Extension guide references quickstart that does not exist"
The "Building my first extension" guide (https://quarkus.io/guides/building-my-first-extension) references a quickstart named "getting-started-extension" under path https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started-extension. But the path leads to a 404 error page. Also in the quarkus-quickstarts repo, I cannot find a folder with that name.

[2020-04-30 08:22] loicmathieu commented on #520
mongodb+svr protocol is not supported in native: https://quarkus.io/guides/mongodb#building-a-native-executable

Do you confirm that you are deploying your application as a native executable?

Also, it's better to create this kind of issues on the Quarkus repository, you'll get quicker feedback : https://github.com/quarkusio/quarkus
This one is about our quickstarts

[2020-04-30 09:57] sirfak commented on #520
Thank you.
It was a normal build (./mvnw compile quarkus:dev:)
so i later changed it to
mongodb://<login>@<host> format

[2020-04-30 10:22] gsmet commented on #520
Could you try with OpenJDK?

Amazon might have removed some needed classes from their JDK.

If it doesn't work with OpenJDK then we might have an issue indeed.

On Thu, Apr 30, 2020 at 11:57 AM sirfak <notifications@github.com> wrote:

[2020-04-30 12:55] sirfak commented on #520
sure will try.thanks for that

[2020-04-30 13:12] gsmet commented on #520
Apparently, Loïc tested it and it would be a JDK 11 specific issue. He will
get back to you on that and document it in our documentation.

On Thu, Apr 30, 2020 at 2:56 PM sirfak <notifications@github.com> wrote:

[2020-04-30 13:45] loicmathieu commented on #520
@sirfak we discover that this issue is on dev mode only, since Quarkus 1.3, for Java > 8.
Running from the jar file is OK.
Did you confirm ?
If so, I open an issue on Quarkus repository (this one is for Quickstarts) se we would be able to close this one and you can watch this one instead: https://github.com/quarkusio/quarkus/issues/8985

[2020-05-01 05:13] xyang5987 opened #551 ""Quarkus - Creating Your First Application " doesn't work"
I'm new to quarkus and tried to learn the first example on https://quarkus.io/guides/getting-started

After run
mvn io.quarkus:quarkus-maven-plugin:1.4.1.Final:create     -DprojectGroupId=org.acme     -DprojectArtifactId=getting-started     -DclassName="org.acme.getting.started.GreetingResource"     -Dpath="/hello"

I got the following error messages:

[INFO] Scanning for projects...
[INFO] ------

[2020-05-01 22:20] jilani97 opened #552 "vertx-quickstart with ssl"
Hi

I am trying to connect to my Postgresql instance on GCP with ssl, but  I keep getting different errors.
Does someone know how to connect with that quickstart vertx client project on quarkus?

I have the client-cert.pem the client-key.pem and server-ca.pem from GCP and I am using it like this:

quarkus.ssl.native=true
quarkus.datasource.db-kind=postgresql
quarkus.datasource.username=$USER
quark

[2020-05-03 17:10] opeti commented on #407
Same issue here. Windows 10 Pro and Docker dekstop 2.2.0.5
My drive is shared with Docker. The problem is that the plugin tries to mount it the following way:
`docker run -v //d/work/bar/target/bar-1.0.0-SNAPSHOT-native-image-source-jar:/project:z ...`
This form is not mounting the specified path to the Docker container. If I manually replace the path in the command to Windows format: `docker run

[2020-05-04 06:39] cescoffier commented on #407
I don't have a windows machine to check. If I'm not mistaken @maxandersen have one. If the changes work, we should fix the command for windows.

[2020-05-04 21:23] opeti commented on #407
Strange. I don't know what happened, but now the volume mounting works fine also with double forward slashes (//d/work... form in my previous comment), so the native image generation is also successful when running it from Maven.
Actually I can't reproduce the issue I mentioned yesterday. Unfortunately I haven't found in Docker documentation which is the preferred form in Windows OS. Actually it w

[2020-05-05 00:16] jilani97 commented on #552
OK, I did a workaround for this. I removed the injected application.properties by removing the
@Inject above the Pgpool client.

Then in the FruitResource.java in the vertx quickstart I added this:

PgConnectOptions options = new PgConnectOptions()
        .setPort(5432)
        .setHost("$POSTGRESIP")
        .setDatabase("postgres")
        .setUser("postgres")
        .setPassword("PASSWORD")

[2020-05-05 06:01] cescoffier commented on #552
Yes, I’m not sure the url version support all the attributes.

@tsegismont do you know? Maybe it must be extended.

[2020-05-05 06:01] cescoffier commented on #407
Closing - see last comment.

[2020-05-05 06:01] #407 closed

[2020-05-05 07:54] tsegismont commented on #552
@cescoffier an issue has been file on the Vert.x repository. Yet we should investigate if it's possible to have a configuration mechanism that is consistent with JDBC datasources. I'll have a look and keep you informed.

[2020-05-06 01:43] mikrethor commented on #551
It seems you executed the command in a folder already containing a  Quarkus Maven project (the quarkus quickstarts).
It should work if you execute the command in a folder not containing anything.

Pay attention to have a Maven version 3.6.3 installed and available on your path.

[2020-05-06 08:58] gsmet commented on #551
Exactly, you need to create your project outside of an existing Maven project or it will fail.

[2020-05-06 08:58] #551 closed

[2020-05-06 10:29] tsegismont commented on #552
So it seems the standard (JDBC) datasource config does not have SSL specific params. JDBC connection params should be used instead.

I will send a PR to let users configure SSL options for Postgres and MySQL.

@jilani97 thanks for sharing the workaround

[2020-05-06 10:39] maxandersen commented on #407
@opeti any chance you ran these tests in different terminal/shells on windows ? I've seen cases where cygwin vs command.exe vs windows new terminal path resolution worked slightly different for various arcane reasons.

[2020-05-06 19:23] otaviojava opened #558 "Error on hibernate-orm-quickstart"
Hello everyone, basically I just take the [hibernate-orm-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-quickstart) project, execute the docker to run [postgresql](https://quarkus.io/guides/hibernate-orm). It returns this error:

[code]

[2020-05-06 21:50] sshaaf commented on #558
I just checked the repo out and it works with the default instructions in the README.

[code]
and the unchanged application.properties worked for me.

Perhaps verify your database config.

[2020-05-06 21:57] otaviojava commented on #558
Hey @sshaaf thank you.

[2020-05-06 21:57] #558 closed

[2020-05-07 04:40] xyang5987 commented on #551
Thanks for reply. However, what I did is a step by step of the method in https://quarkus.io/guides/getting-started#bootstrapping-the-project

[2020-05-07 07:19] opeti commented on #407
@maxandersen Nope, I've run all my tests using cmd.exe.

But I figured out what the problem was. Long story short: It is a Docker Desktop glitch, nothing to do with Quarkus. We just have to share our drive with Docker and everything should work fine.

Detailed description:
In Docker Desktop for Windows it is necessary to select which drives are shared  with Docker for mounting. When I've tried it

[2020-05-07 07:27] BogdanSukonnov commented on #407
Should we add "restart Docker Desktop" to the guide?

[2020-05-07 11:42] mikrethor commented on #551
The doc doesn’t indicate to go in the quickstart folder after cloning the repo and it seems that you did that. Anyway, were you able to generate a Quarkus project with the command line? It should work outside the repo.

[2020-05-08 05:21] xyang5987 commented on #551
I can do everything but just can't follow the doc. It has a git clone(3. Solution) then a maven creation(4. Bootstrapping the project). Anyway, it's a good software.

[2020-05-09 14:12] maxandersen commented on #407
great explanation @opeti and thanks @BogdanSukonnov for updating docs!

[2020-05-09 20:29] maald opened #561 "Cannot @Inject Validator or ValidatorFactory in a custom validator"
Issue:
Unable to inject `javax.validation.Validator` or `javax.validation.ValidatorFactory` in a custom validator. It's always null/nothing gets injected. Although every now and then on hot reload I have seen it get injected.

Reproduce:

Entity the custom constraint annotation

[code]

custom constraint annotation

[code]
Validator for the custom constraint annotation

[code]
Resource just to tri

[2020-05-10 13:46] sonu3706 opened #562 "Unable to create instance if JwtClaimsBuilder"
@bobmcwhirter @adietish @gunnarmorling @Sanne @stalep

Issue while creating JWT token with quarkus-smallrye-jwt dependency
While creating token

`  JwtClaimsBuilder claims = Jwt.claims(jsonResName);` throws NPE.
Initially thought file is not loading may be the path of the file is wrong, but when I
tried to read the content of the file with below code, I am getting the content. So it means file pat

[2020-05-10 14:10] sonu3706 commented on #562
Exception log

[code]

[2020-05-11 02:46] narramadan commented on #547
+1

Clicking the link takes me to 404 and could not find the example anywhere in the repo..

[2020-05-11 06:31] cescoffier commented on #534
Forgot to close this.

[2020-05-11 06:31] #534 closed

[2020-05-13 23:56] thesteve0 opened #567 "A quickstart with Hibernate and OpenShift/Kube"
It would be great to have a quickstart that shows how to set up your quarkus project on Kube/OpenShift so that the database credentials are read from a secret.

@maxandersen asked me to file this but I am not sure I have enough information

[2020-05-20 21:54] maxandersen commented on #567
ack, before i forget what I thought about here it is: add a quickstart/kubernetes-secrets or similar that shows basic use of a kubernets secret and possibly config map usage in application properties.

[2020-05-20 22:02] thesteve0 commented on #567
I think that would work though it would be best with a secret and something
requiring a username and password - this is the "hardest" use case

On Wed, May 20, 2020 at 2:54 PM Max Rydahl Andersen <
notifications@github.com> wrote:

[2020-05-25 10:11] liangyuanpeng opened #579 "[Question] Support grpc"
Does quarkus support grpc? I didn't find any documentation .

Many Thanks!

[2020-05-25 10:15] liangyuanpeng commented on #579
Update

I have found
https://github.com/quarkusio/quarkus/tree/master/extensions/grpc/deployment/src/test

[2020-05-25 16:30] rquinio commented on #547
It's because the corresponding PR #404 (coincidence on the PR number !) is not merged

[2020-05-26 07:04] cescoffier opened #581 "Implement gRPC quickstarts"
Add 2 gRPC quickstarts to demonstrate:

* plain-text usage
* TLS usage

For the plain-text one enable the reflection service.
The README should contain the instruction to run them.

The code should be copied from the integration-tests (with some small modifications).

The documentation already covers these. However, adding a link would be useful.

[2020-05-27 15:46] sekaijin opened #586 "QuarkusTest does not work with nexus repository."
Hi
When we launch @QuarkusTest tests when the company uses a local nexus server and a nexus proxy the tests fail.

Because io.quarkus.bootstrap.resolver.maven.BootstrapMavenContext does not read the settings.xml file present in the installation of maven.
the file ~/.m2/settings.xml is read
but the ${MAVEN_HOME}/conf/settings.xml file is ignored.

BootstrapMavenContext cannot find the config for ne

[2020-05-27 16:42] rquinio commented on #586
This is duplicate of https://github.com/quarkusio/quarkus/issues/9505

Solution is to define a MAVEN_HOME env variable pointing to the Maven installation which has the settings.xml to use.

[2020-05-27 17:51] caiomcoliveira opened #587 "Error on dockerfile build deploying on openshift"
Hello, I tried deploying my quarkus application to openshift, howerver, I get an error on the COPY command "COPY target/lib/* /deployments/lib/"

It doens't locate the directory:

`STEP 7: COPY target/lib/* /deployments/lib/ error: build error: error building at STEP "COPY target/lib/* /deployments/lib/": no files found matching "/tmp/build/inputs/backend/target/lib/*": no such file or directory`

[2020-05-29 09:09] famod commented on #586
In the PR for https://github.com/quarkusio/quarkus/issues/9505 I went for the `maven.home` system property instead of the `MAVEN_HOME` environment variable.

Both should work, though.

@geoand & @aloubyansky I guess we should also update all quickstarts?

[2020-05-29 09:12] geoand commented on #586
Yeah, same idea

[2020-05-29 09:15] aloubyansky commented on #586
@sekaijin could you please verify whether adding `<maven.home>${maven.home}</maven.home>` to your surefire plugin config fixes the issue?

[2020-05-29 09:49] sekaijin commented on #586
Yes, that solves the problem with maven.
but it doesn't work in an eclipse environment.

I think it is necessary to add an alete in https://quarkus.io/guides/getting-started-testing
indicating that it is necessary to define the variable MAVEN_HOME for the tests to work in all environments maven, eclipse, etc.

Thank for all

[2020-05-29 17:20] famod commented on #586
@sekaijin My PR that was merged today already added something like that:
https://github.com/quarkusio/quarkus/pull/9523/files#diff-47ba67a53b8e59e00a94c37fdc60c396R673-R709

It is documenting the `maven.home` system property, not the environment variable `MAVEN_HOME`.
But `MAVEN_HOME` could be mentioned as well.

[2020-06-02 14:34] gsmet commented on #587
Are you building from the root of your Quarkus application directory? Did you build your Quarkus application?

Because `target/lib` should for sure be created.

[2020-06-02 14:41] caiomcoliveira commented on #587
Building the app beforehand does work. But I was wondering if there was any way to deploy it without needing a machine that has JDK

[2020-06-02 16:13] gsmet commented on #561
I don't know what you want to do but injecting `ValidatorFactory` or `Validator` into a `ConstraintValidator` is not supported.

[2020-06-02 16:56] maald commented on #561
The use case is not really the point here since `Validator` is a basic CDI bean just like other simple CDI beans. I can inject a "service"/application scoped bean into the custom validator so I'm not sure why injecting `Validator` is any different (it is thread safe, cacheable and is basically like a "service"). Am I missing something here?

Sure there are multiple ways to achieve the same thing b

[2020-06-04 06:51] maald opened #593 "Constraint validator bug"
I think there is a bug going on in the way custom constraint validators are instantiated and invoked (isValid method called). There is what I observed

This [quarkus guide](https://quarkus.io/guides/validation#constraint-validators-as-beans) says to annotate a custom constraint validator with `@ApplicationScoped` to make it a CDI bean

Custom constraint applied to two fields, each having a differe

[2020-06-04 13:05] cescoffier commented on #581
@michalszynkiewicz did it!

[2020-06-04 13:05] #581 closed

[2020-06-10 10:28] Kondamon opened #597 "amazon-ses-quickstart getting multiple errors"
Problem:
Quickstart is not working as described, receiving different errors, not possible to send mails locally

Expectations:
Follow quickstart guide and have working example

Steps to reproduce:
**Variant A:**
1. clone the ses-quickstart
2. installed aws-cli (aws-cli/2.0.20 Python/3.7.4 Darwin/19.5.0 botocore/2.0.0dev24)
3. Run `docker run --rm --name local-ses 8012:4579 -e SERVICES=ses -e START

[2020-06-10 15:51] kitepad opened #598 "reactive-routes-quickstart: Quickstart sample without annotation"
Example in here is leverage annotation. Would you give a sample without any annotations in source?

[2020-06-19 08:36] #552 closed

[2020-06-24 01:59] rafamqrs commented on #579
Yes, quarkus support grpc, but it is experimental yet as you can add the extension: ./mvnw quarkus:add-extension -Dextensions="io.quarkus:quarkus-grpc"

[2020-06-24 11:25] #579 closed

[2020-06-27 11:17] ayushbhatt2000 commented on #355
hi! I want to contribute to this issue, since I'm a beginner can you please guide me?

[2020-06-29 01:35] sagnol opened #608 "[Question] deploy funqy-http at multiple cloud platform"
Can I deploy the Funqy-http application with awssam template or Azure function json without funky's cloud vendor module (funqy-amazon-lambda, Azure feature, etc.)?

[2020-06-29 04:51] #608 closed

[2020-06-29 04:52] sagnol commented on #608
Multiple modules can solve this question

[2020-07-10 16:35] sjacek opened #614 "Error running Keycloak docker"
There is message during renning keycloak docker
`/opt/jboss/tools/docker-entrypoint.sh: line 156: DB_ADDR: unbound variable`

Probably it needs explicit specify SQL engine

[2020-07-12 13:52] sjacek commented on #614
The solution is to set DB_VENDOR variable.  It will be fixed after merging #615 pull request.

[2020-07-12 13:52] #614 closed

[2020-07-13 19:27] ianpartridge commented on #517
Looks like this can be closed.

[2020-07-13 19:35] ianpartridge opened #617 "Kafka Quickstart: move JAX-RS endpoint to root"
Currently, the JAX-RS endpoint for this demo is at `/prices.html`:

`@Path("/prices")`
https://quarkus.io/guides/kafka#the-price-resource

This means that when a user deploys the demo onto OpenShift and click the "Open URL" link in the Topology view, they see an error:

`RESTEASY003210: Could not find resource for full path: http://my-cluster.example.com/`

This is because there is no endpoint def

[2020-07-13 19:35] ianpartridge commented on #617
CC: @gsmet @cescoffier

[2020-07-14 07:03] cescoffier commented on #617
As far as I remember, it's done like this because if you follow the instruction root (`/`) is the static page generated by the project generator. However, I don't mind changing. WDYT @gsmet ?

[2020-07-14 07:18] cescoffier commented on #517
Oh right! We fixed this a long time ago!

[2020-07-14 07:18] #517 closed

[2020-07-14 08:01] ianpartridge commented on #617
Ah that makes sense. We use this quickstart as a template in the Quarkus Appsody stack: https://github.com/appsody/stacks/tree/master/incubator/quarkus/templates/kafka which won't have the static page. I'd like to keep our template and this quickstart in sync, hence opening this issue :)

[2020-07-15 19:38] johnaohara opened #620 "kogito-quickstart and getting-started-command-mode quarkus version is not updated in master"
The following quickstart versions are not bumped to latest published Quarkus version in master branch;

kogito-quickstart
getting-started-command-mode

@gsmet I assume the versions are bumped as part of the release process?

[2020-07-16 13:42] gsmet commented on #597
@marcinczeczko could you have a look at that report?

[2020-07-16 13:49] gsmet commented on #561
It just won't work. As said, it's not something we support.

[2020-07-16 13:49] #561 closed

[2020-07-16 13:52] gsmet commented on #620
They were missing from the parent pom and thus not updated. I'm adding them and will see how it goes.

[2020-07-16 13:57] gsmet commented on #620
Will probably be fixed by https://github.com/quarkusio/quarkus-quickstarts/pull/621 if I can get the CI green.

[2020-07-16 14:46] paulrobinson commented on #617
@ianpartridge I just reviewed https://github.com/appsody/stacks/pull/843 today. So if that's merged, the template will have the static page. Does that change anything relating to this request?

[2020-07-16 14:55] ianpartridge commented on #617
Hi Paul, yes it does. If you're happy to add the static page to the Appsody template then we can close this :)

[2020-07-16 15:02] paulrobinson commented on #617
Yes, I'm happy with it. I've approved the PR.

[2020-07-16 15:02] #617 closed

[2020-07-16 19:07] marcinczeczko commented on #597
I'm on PTO atm, will take a look Aug.

czw., 16 lip 2020, 15:42 użytkownik Guillaume Smet <notifications@github.com>
napisał:

[2020-07-28 00:04] sjacek opened #628 "Unit tests using keycloak docker does not work"
There is an issue with running unit tests with keycloak docker.  Every try finishes with error message:
`[INFO] -------------------------------------------------------`
`[INFO]  T E S T S`
`[INFO] -------------------------------------------------------`
`[INFO] Running org.acme.security.keycloak.authorization.PolicyEnforcerTest`
`[ERROR] Tests run: 3, Failures: 0, Errors: 1, Skipped: 2, Time elaps

[2020-07-30 09:57] janpfeil opened #631 "microprofile-graphql-quickstart: graphql-ui does not work, antlr version mismatch"
**Issue**
Executing a simple query in graphql-ui gives error message

**Expected behaviour**
graphql-ui should run query

**Reproduction**
running quickstart
`mvn compile quarkus:dev`

Execute query at url http://localhost:8080/graphql-ui/

Console output

Running unit tests give similar error message
`mvn test`

**System environment**
- Branch master, commit ba61c316
- Linux
- graalvm-ce-java11-2

[2020-07-30 13:44] sunix opened #632 "Any plans to move to Java 11?"
Hello,
Any plans to move to Java 11 for all the getting started samples? as it has been announced that Java 8 will be deprecated.

[2020-07-30 15:24] gsmet commented on #632
I don't know.

That would mean the examples won't work for people using Java 8. As long as it's supported, it seems a bit radical to me.

[2020-07-30 15:49] sunix commented on #632
I don't know when it will be deprecated, but it would be nice to move the samples few versions before. To avoid people starting with 1 sample and having to update the pom.xml the next release.

[2020-07-30 15:59] gsmet commented on #632
Our generated projects already target 11 by default if created with JDK 11. So it's really just when you're playing with the quickstarts.

I don't think that will be a big issue in practice.

[2020-08-03 07:11] jmartisk commented on #631
The message about antlr version mismatch is a known problem and should be resolved, but it doesn't have anything to do with the quickstart failing (you can ignore it for now). Anyway, I can't reproduce your problem with graphql-ui, I pasted in this query

[code]

and it returned
[code]

perhaps you pasted something wrong? Given that it complains about syntax...

[2020-08-03 07:12] jmartisk commented on #631
Hm, I get the same error message if I put the query into the "query variables" window at the bottom left. Are you sure you're pasting your query in the correct window (upper left)?

[2020-08-03 21:53] janpfeil commented on #631
Jan, you're absolutely right and I apologize for my newbie mistakes. I had indeed used the "query variables" input element to run my query. Maybe I wouldn't have run into this failure if the ui had a label for the input and output areas. But I must confess that I didn't read the introductory paragraph entirely.
For the reference to such noobs like me: paste or input the query in the upper left win

[2020-08-03 21:53] #631 closed

[2020-08-04 07:27] jmartisk commented on #631
No problem, I'm glad the problem is solved! Have fun with GraphQL!

[2020-08-07 06:52] sjacek commented on #628
Fixed in pull request #633

[2020-08-07 06:52] sjacek commented on #628
Fixed in #633

[2020-08-07 06:52] #628 closed

[2020-08-07 13:57] sebitit opened #638 "Logging does not work during the execution of unit tests"
Hi
No specific log messages will be printed to _stdout_ during the execution of unit tests (via `mvn clean test`) when I use the latest _Lombok_ version and implement a proper log statement in `GreetingService`:

[code]

But the corresponding log message will be printed for integration tests as expected (via ` mvn clean integration-test`):

[code]

**How should I configure the application to print

[2020-08-22 14:49] AbhideepChakravarty opened #641 "CDI is not working in Google Function"
I followed the steps given in https://quarkus.io/guides/gcp-functions

But the injection if GreetingService is not happening and I am getting a NULL pointer exception at the line which makes a call to greetingService.hello().

Whats going wrong?

[2020-08-24 07:27] loicmathieu commented on #641
Can you give me the `gcloud` command line you use to launch your function ?
I didn't test the Maven Google plugin yet, so I cannot help you with it.

[2020-08-24 13:52] AbhideepChakravarty commented on #641
I didn't deploy in cloud. Tell me how can I first make it run in local
before deploying to cloud, with CDI working.

On Mon, 24 Aug, 2020, 12:57 PM Loïc Mathieu, <notifications@github.com>
wrote:

[2020-08-24 14:05] loicmathieu commented on #641
So how do you test it ?

Do you follow our instructions to test your function locally via the invoker: https://quarkus.io/guides/gcp-functions#testing-locally

If CDI is not working, maybe it's because you directly invoke your function whereas you must invoke the `io.quarkus.gcp.functions.QuarkusHttpFunction` for Http function or the `io.quarkus.gcp.functions.QuarkusBackgroundFunction`. These are

[2020-08-25 01:31] AbhideepChakravarty commented on #641
Hi,

My bad, I was actually invoking my function directly. But I tried invoking
Quarkus code. Here is the observation:

My POM:
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="
http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://maven.apache.org/POM/4.0.0
http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</m

[2020-08-25 12:30] loicmathieu commented on #641
You should use the generated runner jar inside your project: `quarkustest-1.0.0-SNAPSHOT-runner.jar`.
So the correct invoker URL should be
[code]

I'll update the documentation to be more explicit ;)

[2020-08-27 16:00] loicmathieu commented on #641
I create a small PR to add clarification to the guides: https://github.com/quarkusio/quarkus/pull/11677
Can I close this issue ?

[2020-08-27 16:13] AbhideepChakravarty commented on #641
When I did maven clean install, it created the runner jar in the target
folder, then only I could add that in the classpath and used the function.

On Tue, Aug 25, 2020 at 6:00 PM Loïc Mathieu <notifications@github.com>
wrote:

[2020-08-27 16:23] loicmathieu commented on #641
Yes, I added this step in the PR quarkusio/quarkus#11677
You need to build the JAR that will contains your function class and all the needed Quarkus (and other librairies) classes

[2020-09-18 12:03] bartekkocik opened #660 "quarkus-smallrye-metrics "application_" instead of "application: ""
Hi, For some time I have been wondering why the metrics from quarkus app are not getting to prometheus and grafana. I have found that the metrics returned by the qarkus have a different form than those from thorntail for example:
Quarkus 1.7.1.Final
with
[code]
which use microprofile-metrics-api 2.3 and impl smallrye-metrics-2.4.2

return application metrics in form
"application_some_metric_exampl

[2020-09-18 18:18] #660 closed

[2020-09-18 18:18] bartekkocik commented on #660
this is related more to samllrye metrics impl

[2020-09-23 16:53] MykolaBova opened #663 "testGreetingEndpoint failed"
Quarkus - Creating Your First Application
https://quarkus.io/guides/getting-started

[code]

Line

`public String greeting(@PathParam String name) {`

must be changed to

`@PathParam("name")`

Otherwise parameter name will contain null

[code]

[2020-09-27 15:35] rtaugerbeck opened #666 "Minor improvements to hibernate-orm-multi-tenancy quickstart"
Minor improvements to hibernate-orm-multi-tenancy quickstart

- add docker-compose.yml to hibernate-orm-multi-tenancy quickstart
- use environment variable expansion to facilitate docker-compose setup
- fix Docker image names to hibernate-orm-multi-tenancy

[2020-10-05 07:21] gunnarmorling opened #678 "Improve dev experience in Kafka Streams example"

[2020-10-05 07:21] gunnarmorling commented on #678
I'll send a PR shortly.

[2020-10-06 13:53] nderwin commented on #541
@gsmet This one can be closed now since the PRs are merged.  Maybe I didn't link them correctly so that it was automatically closed.

[2020-10-06 14:04] #541 closed

[2020-10-06 14:04] gsmet commented on #541
Closing, thanks!

[2020-10-12 06:20] binojvr opened #691 "Google function run throws java.lang.NullPointerException"
Followed steps mentioned in https://quarkus.io/guides/gcp-functions

Run the following commands from two terminals

java -jar java-function-invoker-1.0.0-beta1.jar   --classpath target/google-cloud-functions-quickstart-1.0-SNAPSHOT-runner.jar   --target org.acme.quickstart.RawBackgroundFunctionPubSubTest

curl localhost:8080 -d '{"data":{"greeting":"world"}}'

Following is the  log. It seems Injec

[2020-10-12 06:26] binojvr commented on #691
Please close/delete the issue. This is CDI issue. I have seen another thread. I am following same to fix this

[2020-10-13 08:44] glefloch opened #693 "Create a getting-started-gradle"
As mentionned in [zulip](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/getting-started.20with.20gradle), there is no `getting-started-gradle` guide.
This would be nice to have one, similar to the `getting-started` .

CC @cescoffier

[2020-10-13 16:21] #532 closed

[2020-10-13 16:21] #467 closed

[2020-10-13 16:22] #308 closed

[2020-10-31 16:38] fbricon opened #703 "context-propagation quickstart fails: No subscriber found for the channel prices"
In a terminal, run
[code]

Booom:
[code]

[2020-10-31 17:13] cescoffier commented on #703
You need to listen for the stream first, as indicated in the guide.

On Sat 31 Oct 2020 at 17:39, Fred Bricon <notifications@github.com> wrote:

[2020-11-01 01:38] fbricon commented on #703
Oh it's Schrodinger's channel ;-) Not obvious from the doc the order is important.
Can the subscriber be eagerly started with the application, to prevent that kind of error?
You gotta wonder why missing a subscriber causes an exception in the first place

[2020-11-11 19:03] vinicius-martinez opened #709 "grpc-tls-quickstart fails to start due missing certificate configuration"
Hi there,

When running grpc-tls-quickstart the following exception is raised:

`2020-11-11 15:51:32,499 INFO  [io.qua.grp.run.GrpcSslUtils] (Quarkus Main Thread) Disabling gRPC plain-text as the SSL certificate is configured
2020-11-11 15:51:32,533 ERROR [io.qua.run.Application] (Quarkus Main Thread) Failed to start application (with profile dev): java.nio.file.NoSuchFileException: src/main/resou

[2020-11-12 13:33] vinicius-martinez commented on #709
Fixed by:

1. Create a **META-INF** directory under _src/main/resources;_
2. Move all contents from _tls_ to the new directory;
`.
├── META-INF
│   └── tls
│       ├── README.md
│       ├── ca-openssl.cnf
│       ├── ca.pem
│       ├── server-openssl.cnf
│       ├── server.key
│       └── server.pem
└── application.properties`
3. Update application.properties with the following content:
`quarkus.g

[2020-11-16 09:19] michalszynkiewicz commented on #709
The long story is that the client certificates work only when specified by a path to file. And while `src/main/resources/tls/...` is a proper path, it doesn't work for quarkus:dev (and won't for running the jar) because it won't be available.

I think the proper solution is to support reading the cert for the client from classpath (we already have it for the server). It would let us use `tls/ca.pe

[2020-11-17 15:23] yichengxian opened #713 "hi quarkuser ,how to catch exception by quarkus-spring-web ,it‘s seemingly invalid！"
I code  url: https://github.com/yichengxian/fandom-quarkus/blob/master/fandom-common/src/main/java/com/j2boot/fandom/common/exception/GlobalExceptionHandler.java
but not catch exception.

look this doc :https://quarkus.io/guides/spring-web @RestControllerAdvice and @ExceptionHandler,
its invalid when throw Exception !
code :
`@RestController
@RequestMapping("/")
public class IndexController {

[2020-11-26 12:33] mmusgrov opened #717 "Include a basic quickstart that shows how to use the narayana-jta extension"
The [quarkus-narayana-jta extension](https://quarkus.io/guides/transaction) should include a basic quickstart to show how to use JTA transactions.

[2020-11-29 22:04] gsmet opened #719 "OptaPlanner quickstart doesn't work in native"
Hi @ge0ffrey ,

The new OptaPlanner quickstart doesn't work in native because you cannot start an embedded H2 database in native:
[code]
can you have a look?

Using a `H2DatabaseTestResource` Quarkus test resource might be something to look at if it's just for the tests.

[2020-12-12 19:08] andfs opened #728 "Observe GraphqlSchema and Graphql.Builder not working"
Events aren`t being fired at building schema.
Neither the example are working:

[code]

[code]

[2020-12-12 19:10] phillip-kruger commented on #728
Hi @andfs , what version of Quarkus are you using? Did you enable events in config?

[2020-12-12 19:16] andfs commented on #728
@phillip-kruger Sorry 😥
I didn`t enable events in config. I didn`t see that default was false.
Thank you for letting me know about that

[2020-12-12 19:16] #728 closed

[2020-12-18 04:03] Manish123chandel opened #732 "Can provide example for Quarkus Security with LDAP with configuration explanation"
Hi Team,

I'm trying to secure the end points via LDAP  security. i.e if some try to access the end point then it should authenticate the username with LDAP server, if it is authenticated then inly it able to access the endpoint.

Can you please provide the documents for this if already available then please provide me cos existing doc "Security with LDAP" is not enough to understand.

[2020-12-18 04:07] Manish123chandel commented on #732
I tried with the configuration and getting the errors as below.

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/21332491/102573505-8bcf1100-4129-11eb-8397-713f5346015a.png)

[2020-12-22 09:18] weir2010 opened #735 "quarkus-hibernate-reactive-panache 分页有没有例子？"
对 quarkus-hibernate-reactive-panache 分页 不会用 希望给个例子出来

[2020-12-23 19:27] LeonardoBonacci opened #737 "Opentracing does not work in kafka-quickstart"
Aloha,

The [opentracing tutorial section kafka](https://quarkus.io/guides/opentracing#kafka) - explains 'To enable it, add the following dependency to your pom.xml:' and 'It contains OpenTracing interceptors that must be registered on Kafka producers and consumers.'

I have done exactly that. Code can be found in [this forked repo](https://github.com/LeonardoBonacci/quarkus-quickstarts/tree/opent

[2020-12-24 16:03] LeonardoBonacci commented on #737
Closing this issue - happy that nobody has responded to it yet :)
My fault, I forgot to add the opentracing library to the pom.

[2020-12-24 16:03] #737 closed

[2021-01-10 01:21] rafamqrs commented on #732
Hi @Manish123chandel, Did you try this doc?
https://quarkus.io/guides/security-ldap

[2021-01-14 11:48] morhei opened #748 ""QUARKUS - GETTING STARTED WITH REACTIVE" creating the project yields wrong project"
Hi,

I'm currently going through your guide and noticed that when I use the mvn command to create the project I get an unexpected outcome:

`mvn io.quarkus:quarkus-maven-plugin:1.10.5.Final:create \
    -DprojectGroupId=org.acme \
    -DprojectArtifactId=getting-started-reactive \
    -DclassName="org.acme.quickstart.ReactiveGreetingResource" \
    -Dpath="/hello" \
    -Dextensions="resteasy-muti

[2021-01-14 12:02] cescoffier commented on #748
CC @ia3andy

[2021-01-14 12:04] morhei commented on #748
On that note, the website also states different packages in the code snippets:
![image](https://user-images.githubusercontent.com/53338754/104588707-12afd480-5669-11eb-8e9f-59d5fc147ad3.png)

[2021-01-20 10:20] VaccinalBowl opened #753 "Readme.md docker port number is wrong in DynamoDb quickstart."
The line

`docker run --rm --name local-dynamo -p 8000:4569 -e SERVICES=dynamodb -e START_WEB=0 -d localstack/localstack`

should be

`docker run --rm --name local-dynamo -p 8000:4566 -e SERVICES=dynamodb -e START_WEB=0 -d localstack/localstack`

in the read me file.

[2021-01-21 05:58] yichengxian commented on #735
你在这里中文怕是没人会回

[2021-01-23 11:55] rward27 opened #761 "QUARKUS - CENTRALIZED LOG MANAGEMENT sample application not working"
Hi
I have followed the exact steps from here:
[https://quarkus.io/guides/centralized-log-management](https://quarkus.io/guides/centralized-log-management)

I have elastic search and kibana running on my system.

I have added a few lines of log in my sample application that I cloned from the link above

I am trying to use fluentd instead of anything else. So basically i followed the steps given in

[2021-02-03 22:32] gsmet opened #769 "Reactive Messaging HTTP tests fail in native"
https://github.com/quarkusio/quarkus-quickstarts/runs/1819404507?check_suite_focus=true

[code]

And a few lines below:

[code]

@michalszynkiewicz could you have a look?

[2021-02-05 10:12] gsmet opened #772 "Keycloak authorization tests failing in native"
/cc @sberyozkin

[code]

[2021-02-05 10:53] sberyozkin commented on #772
@gsmet Hi Guillaume, it looks new to me, the tests have run in the native mode for a while. See this commit:

https://github.com/quarkusio/quarkus-quickstarts/commit/381ecdcd73d0d0d4781fc8fe5cf3486479cdb6e5#diff-8906d3f595317042455b9a23e272183cc64a2747019a42d25f5278822debefbe

What is the right way to put those handlers back now ?

[2021-02-05 11:11] sberyozkin commented on #772
something like this
[code]
or under the native profile:
[code]
I'll fix it

[2021-02-05 14:57] michalszynkiewicz commented on #769
fixed in https://github.com/quarkusio/quarkus-quickstarts/pull/771

A better fix coming in with https://github.com/quarkusio/quarkus/pull/14854

[2021-02-05 14:57] #769 closed

[2021-02-05 17:05] famod commented on #772
Sorry I missed that one when removing the `native-image` goal! I'll re-check that I did miss anything else.

[2021-02-05 17:10] famod commented on #772
Unless there is a JNI config property (I couldn't find any), I haven't missed anything else.

[2021-02-08 12:53] AntonFagerberg opened #774 "InjectMock with package private method"
I've noticed that when using @InjectMock on a class that declares package private methods, you do get a mocked instance but the methods that are declared package private can't be stubbed.

Given a class like this:

[code]

And a test like this:

[code]

The `getPublic()` and `getProtected()` tests will work as expected but `getPackagePrivate()` will throw a null pointer since it's actually invokin

[2021-02-08 12:59] AntonFagerberg commented on #774
Sorry, I put this in the wrong project, I'll close and move it to the right place

[2021-02-08 12:59] #774 closed

[2021-02-08 22:43] EricTing opened #776 "Wiremock server failed to respond in rest-client-quickstart unittest"
I am following this official doc https://quarkus.io/guides/rest-client#using-a-mock-http-server-for-tests to use the Wiremock.

Here is my implementation: https://github.com/quarkusio/quarkus-quickstarts/compare/master...EricTing:master

The main error is `Caused by: org.apache.http.NoHttpResponseException: The target server failed to respond`.
I suspect the mock server failed to start before the

[2021-02-12 10:51] AlexLarentis01 opened #778 "Problems starting Kafka on Apple Silicon"
Hi, looks like a native Library is not working properly. I am new to Quarkus so this might be an issue from my side could you help me out

`Feb 12, 2021 11:48:00 AM io.quarkus.runtime.ApplicationLifecycleManager run
ERROR: Failed to start application (with profile dev)
java.lang.UnsatisfiedLinkError: /private/var/folders/sd/mzznz6xd4ks29yw9m4mw00sm0000gn/T/librocksdbjni3919515651897363100.jnilib:

[2021-02-12 11:00] cescoffier commented on #778
That's related to Kafka Streams. It depends on a native library not available on Silicon (at least with the version we ship).

CC @gunnarmorling

[2021-02-12 11:06] gunnarmorling commented on #778
Yeah, probably not much we can do about that ourselves. There is
Aarch64 support for RocksDB:
https://github.com/facebook/rocksdb/issues/5559. But I'm not sure
whether

* that works with macOS
* the RocksDB JNI bindings support it

I suppose that not yet, at this point.

[2021-02-19 17:56] famod opened #786 "Move to resteasy-reactive per default"
https://github.com/quarkusio/quarkus-quickstarts/pull/784#discussion_r579108761

[2021-02-26 08:57] christianhaeubl opened #787 "kogito-quickstart - Memory leak and race condition"
I tried the `kogito-quickstart` example (tag: 1.12.0.Final) and did a quick load test using wrk (sending `POST` requests to `/persons` with a random name and with an age of 20). During that load test, I saw both a memory leak and a race condition.

The memory leak only happens on GraalVM Native Image, not on HotSpot. According to a heap dump, the entries in the `ConcurrentHashMap` `org.drools.core

[2021-02-26 20:04] edtbl76 opened #788 "Non-resolvable import POM: Could not find artifact io.quarkus:quarkus-bom:pom:999-SNAPSHOT"
Any thoughts?

The dependency branch doesn't work for me. I can't pull down this dependency.

I've tried pulling it down directly w/ a mvn dependency:get but this fails as well. The links on the quarkusio/quarkus site appear out of date.

Thanks

[2021-02-26 21:10] edtbl76 commented on #788
Network issue on my side :( Sorry for the fire drill.

[2021-02-26 21:10] #788 closed

[2021-02-26 23:25] edtbl76 opened #790 "Missing Knative Guide"
Dead link in the Readme for getting-started-knative.

[2021-02-27 18:40] edtbl76 opened #791 "standard_init_linux.go:219: exec user process caused: exec format error"
This happens when trying to run any native docker image that was created on the development branch.

[2021-02-27 20:13] edtbl76 commented on #597
Run docker run --rm --name local-ses 8012:4579 -e SERVICES=ses -e START_WEB=0 -d localstack/localstack:0.11.1
Error: Unable to find image '8012:4579' locally

This is user error.

You have to put -p in front of the port statement. The error message gives us a clue "Unable to find image..."

I've got a ton of PRs coming that improves this experience by just using docker-compose files. (Feel free to

[2021-02-27 20:35] edtbl76 commented on #171
#213  was closed without addressing this.

Is there another ticket for the change from io.fabric8 -> org.testcontainers for pg?

[2021-02-27 20:45] edtbl76 commented on #753
I have a PR that fixes this.

[2021-02-28 18:54] edtbl76 opened #792 "Hibernate-ORM-quickstart-multitenancy dead link"
The link to the ORM Multitenancy guide  in the main quarkus-quickstart README.md is dead... 404.

Also: It might be a good idea to explain why the -Dquarkus:profile=database property is necessary.

[2021-02-28 19:02] edtbl76 opened #793 "SnsResourceTest failures: GH Actions"
This appears intermittently:

It happens on the post() on either method. I've enabled this on my fork as well, and i'm seeing pass on my side/failure on yours, vice versa. I can't reproduce locally.

Error:  Tests run: 4, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 51.708 s <<< FAILURE! - in org.acme.sns.SnsResourcesTest
Error:  org.acme.sns.SnsResourcesTest.testSubscriber(String)[2]  Time e

[2021-02-28 21:58] edtbl76 opened #794 "getting-started-async README.md links to the wrong project/module"
The readme links to getting-started, rather than getting-started-async.

It's better than a 404, but a small note might be better.

[2021-02-28 22:03] edtbl76 opened #795 "lifecycle-quickstart doesn't match guide content"
The demo and the guide content are out of sync.

[2021-02-28 22:05] edtbl76 opened #796 "getting-started-reactive-crud missing README.md"
getting-started-reactive-crud missing README.md

[2021-03-01 04:09] edtbl76 commented on #793
I tracked down the problem locally.
- I only seem to encounter this when running "mvn clean verify -Pnative"

There is an intermittent coms issue between the Java AWS SDK and Localstack. (There are a few threads on SO and GH).

Using the deprecated constructors allows you to use the deprecated port conventions, which is what the quickstarts are doing.

I can reproduce this (using any convention, n

[2021-03-01 12:56] gsmet commented on #793
/cc @marcinczeczko could you have a look?

[2021-03-02 15:59] edtbl76 opened #798 "Using non-official Kafka release in docker-compose"
in kafka quickstart, I noticed that the docker-compose is using a non-official kakfa release: strimzi/kafka:0.19.0-kafka-2.5.0

This actually fails when used as the DockerImageName (testcontainers) in the tests. I had to use the official community resource from confluent.

Was there a specific reason for this?

[2021-03-02 16:50] cescoffier commented on #798
We use strimzi as it's closer to how Kafka behave in kubernetes (strimzi being an operator to run kafka in kubernetes).

Strimzi provides their own test containers 'container' implementation.

[2021-03-02 17:51] edtbl76 commented on #798
Ok that makes sense.

In order to use the Strimzi test container implementation, I’m assuming I’d
have to use the GenericContainer<>()?  The KafkaContainer() doesn’t seem to
support it.

On March 2, 2021 at 11:50:33 AM, Clement Escoffier (notifications@github.com)
wrote:

We use strimzi as it's closer to how Kafka behave in kubernetes (strimzi
being an operator to run kafka in kubernetes).

Strimz

[2021-03-02 19:23] edtbl76 commented on #798
Nevermind. I understand what you meant now. The test-container is part of
Strimzi. (I was thinking the other way around.. ).
I’ve got a commit coming that swaps this out.

On March 2, 2021 at 12:52:12 PM, Ed (notifications@github.com) wrote:

Ok that makes sense.

In order to use the Strimzi test container implementation, I’m assuming I’d
have to use the GenericContainer<>()? The KafkaContainer()

[2021-03-02 22:16] edtbl76 opened #799 "kogito-quickstart not working?"
This looks like a problem w/ the module (quarkus-kogito) itself.

When I POST a new Person, I get the results back in the response, however if I run a GET /persons immediately after, it's empty.

I bumped up the quarkus logs to ALL, and I found something interesting when I do my POST:

As far as I can tell, the last thing it's trying to do is delete the element I just posted.

`2021-03-02 16:47:41

[2021-03-03 04:13] edtbl76 commented on #799
It was the version. PR coming shortly.

Pom file is pointing at a stale BOM (kogito-bom).

fix is here: newer bom points to newer version (1.2.0.Final), changed in props too.
`    <groupId>org.kie.kogito</groupId>
        <artifactId>kogito-quarkus-bom</artifactId>
        <version>${kogito-quarkus.version}</version>
        <type>pom</type>
        <scope>import</scope>
`

[2021-03-03 20:46] #798 closed

[2021-03-03 20:48] edtbl76 commented on #798
I have a PR (https://github.com/quarkusio/quarkus-quickstarts/pull/797) that includes the fix for this. It ensures that the Tests are using the same container version/vendor as the demo

[2021-03-08 09:56] PhilAndrew opened #805 "On Windows building native, says failed to build but it didn't fail to build"
It says

[code]

But that's not true, there is an executable there and I can see it and run it

[code]

The executable has a .exe.exe - dot .exe twice?

[2021-03-15 12:36] rludva opened #812 "Deoployment is failing on OCP v4.7 Cluster"
Bug 1938169 - "Get started with Quarkus using s2i" quickstart app failed to deploy
https://bugzilla.redhat.com/show_bug.cgi?id=1938169

After deploying a new OCP v4.7 cluster and trying to deploy a demonstration application for Quarkus with S2I the build process is failing.

The application pod is in CrashLoopBackOff and then in Error state with logs:
[code]

[2021-03-16 07:17] atrosin opened #813 "Configuration error after running application on Proguard Exception in thread "main" java.lang.RuntimeException: Failed to start quarkus"
**_After running proguard on my application
(Proguard config file attached below)
and running output.jar with java -jar output.jar command
I get an error:_**

**Exception in thread "main" java.lang.RuntimeException: Failed to start quarkus
        at io.quarkus.runner.ApplicationImpl.doStart(ApplicationImpl.zig:301)
        at io.quarkus.runtime.Application.start(Application.java:90)
        at io

[2021-03-16 15:39] #813 closed

[2021-03-17 01:49] e21pradeep opened #815 "S3Exception: Access Denied (Service: S3, Status Code: 403,"
Hi Team, quarkus  returning  s3 Access Denied exception, but same code working with normal jdk
i have used s3-quickstarts example and to access my buket list
spi.UnhandledException: software.amazon.awssdk.services.s3.model.S3Exception: Access Denied (Service: S3, Status Code: 403, Request ID: M652TMBNA1DWX0AE, Extended Request ID: IVFIUI+nbmHAyIEbxRybqo/F794IoEYOauoBc71Ekb6am2K+rJq20bs8CVgPZ550Dl5

[2021-03-17 14:03] jmtd commented on #812
The last working tagged version is 0.11.6.Final.  This broke from 0.12.0.Final onwards.

[2021-03-17 15:46] gsmet commented on #812
@jmtd are you talking 1.11.6.Final and 1.12.0.Final? Because 0.12.0 is a very very old version?

Could you try 1.12.2.Final? The OpenShift deployment was broken at some point during the 1.12 cycle.

[2021-03-18 09:22] wolfomat opened #816 "Application.properies "quarkus.hibernate-orm.database.generation""
Using:

`quarkus.hibernate-orm.database.generation=drop-and-create`

everything works fine.

But later on, I don't want to drop and create the whole tables yet again, but i want to keep them.

switching to:

`quarkus.hibernate-orm.database.generation=update`

throws me instantly:

[code]

[2021-03-18 11:35] wolfomat commented on #816
Is this even the correct place to address this issue?

[2021-03-20 23:51] aosama opened #819 "security-openid-connect-quickstart and AWS Cognito"
We have tried the exact same approach in this sample project security-openid-connect-quickstart with AWS Cogniot and could not get it to work based on the guidance in this example and the article.

The REST endpoint implemented in quarkus that is inside the class "UsersResource" having REST path of "/me" will always return 401 if the bearer token exists regardless of what type of annotation it has

[2021-03-21 20:21] jmtd commented on #812
@gsmet

Sorry I am yes. I'll edit my comment to correct the versions.

I haven't tried that tag specifically, but (as of 4 days ago) `master` branch was broken: I was just referencing that, and when I noticed it had broken,  I did a manual bisect to find the earliest broken tag (1.12.0.Final)

[2021-03-25 03:31] davidhua94 opened #823 "Can you provide an example for API Gateway Proxy Integration with AWS Lambda"
We generally use a lambda to write about 10 apis， so API Gateway Proxy Integration is more suitable for us, will you provide similar examples in the future?

[2021-03-26 03:09] impqr opened #825 "Example.of() doesn't work"
While I used `quarkus-spring-data-jpa` access DB with `org.springframework.data.domain.Example`, it shows ERROR message:
[code]

[2021-04-01 07:56] geoand commented on #812
Does it not work with the `main` branch?

[2021-04-01 07:57] rsvoboda commented on #812
Maybe the latest failure can be related related to https://github.com/quarkusio/quarkus/issues/16113 ... regression in 1.13.0.Final and 999-SNAPSHOT

[2021-04-01 09:37] geoand commented on #812
OK, I see.

@iocanel where are we with https://github.com/quarkusio/quarkus/issues/16113?

[2021-04-02 08:13] jiayaoO3O commented on #735
reactive和不reactive对于查询的操作都是一样的, 只是返回值变成了Uni<>或者Multi<>而已, 你可以直接使用[这篇教程](https://quarkus.io/guides/hibernate-orm-panache)的基本方法来查询
[code]

[2021-04-02 08:22] jiayaoO3O opened #826 "Does this tutorial "hibernate-reactive-panache-quickstart" have a redundant dependency?"
When using **hibernate-reactive-panache-quickstart**, pom.xml is only the **quarkus-hibernate-reactive-panache** dependency needed, is **quarkus-hibernate-reactive** redundant?
[code]

[2021-04-02 16:33] #825 closed

[2021-04-09 02:46] weir2010 commented on #735
@jiayaoO3O   我想实现的是  把list  和 count 包装成一个对象  返回给前端

[2021-04-09 02:55] jiayaoO3O commented on #735
@weir2010 那你只能新建一个类, 例如Result, 里面有一个list, 有一个count, 然后返回一个Uni< Result >.
假如你已经拿到了:
`Uni<List<String>> listUni = Uni.createFrom().item(new ArrayList<>());`
使用以下语法即可转换为另一个对象:
[code]
关键的点时.onItem().transform(), 它接收一个lambda表达式, 说明你要怎么操作里面的对象

[2021-04-09 03:03] weir2010 commented on #735
@jiayaoO3O   大佬  可以加下微信么：weirweiwei

[2021-04-09 03:04] jiayaoO3O commented on #735
有啥问题发邮件给我就行了, 微信就算了, 上班摸鱼回答你的问题

[2021-04-13 02:04] weir2010 commented on #735
@jiayaoO3O  大神有空看看邮件 我真的想知道这里怎么实现的

[2021-04-13 02:05] jiayaoO3O commented on #735
我周五邮件回复你了你看看是不是垃圾桶拦截了

[2021-04-13 11:40] lkrzyzanek opened #831 "security-ldap-quickstart not found"
https://quarkus.io/guides/security-ldap guide points to https://github.com/quarkusio/quarkus-quickstarts/tree/main/security-ldap-quickstart but it doesn't exists.
Not sure if the issue is in the guide or quickstarts.

[2021-04-13 15:12] jmtd commented on #812
I've just re-tried this on an (ephemeral) OCP 4.7 cluster with current main (bdb0cfcd03be7fca898818834ff3be9de54fd4ea) and unfortunately it still did not work. Even more unfortunately my OCP cluster was deleted before I finished investigating what was going on. I'll request a new cluster and re-try to gather more information in the next couple of days.

[2021-04-17 12:27] Tin-Nguyen opened #836 "Token question"
Hi all,

I'm a newbie in KeyCloak and Quarkus. I'm recently facing with an issue related to the JWT token generated from Web-App that I cannot use it as Bearer Authorization via Postman tool. However the token generated via `POST /auth/realms/tenant-a/protocol/openid-connect/token` endpoint works!

I tried to compare both JWT token and figured out those are different and wondering how I can make t

[2021-04-19 06:31] asidoruk opened #839 "kafka-streams-quickstart is not working"
"producer" and "aggregator" projects have incorrect dockerfiles.
Now these contain:
[code]
which is wrong as `target/lib` and `target/*-runner.jar` are not the correct paths.

Things seem to start working after replacing these COPY commands with:
[code]

[2021-04-19 13:24] asidoruk commented on #839
Great, fixed 2 days ago with https://github.com/quarkusio/quarkus-quickstarts/pull/837  :)
Closing the ticket

[2021-04-19 13:24] #839 closed

[2021-04-20 13:35] LinoMDS commented on #732
Hi @rafamqrs I've look at the doc above, but in this doc doesn´t explain how to secure only a few endpoints with ldap, is it possible to only have ldap for one endpoint and the rest of the application with smallrye jwt for example? if so, how can I specify the endpoint that this is to be secure with ldap? Also can the ldap be override in order to send the user password from user input instead of r

[2021-04-20 13:41] LinoMDS opened #840 "Multiple authentication mechanism: Ldap and smallrye jwt"
I've look at the documentation https://quarkus.io/guides/security-ldap, but in this doc doesn´t explain how to secure only a few endpoints with ldap, is it possible to only have ldap for one endpoint and the rest of the application with smallrye jwt for example? if so, how can I specify the endpoint that this is to be secure with ldap? Also can the ldap be override in order to send the user passwo

[2021-04-21 16:22] yuriy-larin-firstbridge opened #842 "gRPC (plain + tls) unit tests are broken in 1.13.2.Final"
gRPC unit tests are broken in both modules plain + tls
When I run tests (or do build) inside /grpc-plain-text-quickstart and /grpc-tls-quickstart modules they fails with errors like below.

1.
[code]

2.
[code]

[2021-04-22 07:54] rvansa opened #843 "Qute quickstart uses @ResourcePath"
`@ResourcePath` seems to be deprecated by `@Location`.

[2021-04-22 07:55] rvansa commented on #843
CC @mkouba (you seem to be the author of the quickstart)

[2021-04-22 09:16] mkouba commented on #843
Hm, I don't see this annotation used in the https://github.com/quarkusio/quarkus-quickstarts/tree/main/qute-quickstart?

[2021-04-22 09:22] rvansa commented on #843
I should probably move the issue to github pages repository: it's in the text https://quarkus.io/guides/qute

[2021-04-22 09:25] rvansa commented on #843
Created https://github.com/quarkusio/quarkusio.github.io/issues/966

[2021-04-22 09:25] #843 closed

[2021-04-22 13:13] rsvoboda commented on #138
@cescoffier / @gsmet ... any plans to have at least QS run in JVM mode on Windows

There is just ubuntu one - https://github.com/quarkusio/quarkus-quickstarts/blob/main/.github/workflows/build-pr-development.yml#L10

[2021-04-23 08:48] rludva opened #844 "douplicate (removed)"

[2021-04-23 08:57] #844 closed

[2021-04-26 02:15] arafalov opened #846 "GraphQL documentation code example and code repo mismatch"
Specifically FilmResource listing at https://quarkus.io/guides/smallrye-graphq does not correspond to - much larger - source at: https://github.com/quarkusio/quarkus-quickstarts/blob/main/microprofile-graphql-quickstart/src/main/java/org/acme/microprofile/graphql/FilmResource.java

So, the demonstrated GraphiQL example fails (missing "heroes").

Also, the imports are non-obvious for those followin

[2021-04-26 02:17] arafalov commented on #846
Oops. Never mind. My fault, it does add 'heroes' later in the code. The image was just out of sync. Maybe just update early image then and/or forward-reference stronger.

[2021-04-26 03:13] #846 closed

[2021-04-26 12:56] cescoffier commented on #842
Yes, the port is wrong.
Fortunately it's been already fixed upstream.

[2021-04-27 08:47] jmtd commented on #812
Hi - with dfe99e36cec416ca7a60031b53973975086e9638 , the default fast-jar method now works with the RH OpenJDK S2I image.

However - of course - the other jar methods do not, since the new .s2i/environment settings are specific to fast-jar.

I'm reviewing https://github.com/jboss-container-images/openjdk/pull/207 which will hopefully improve the S2I image's ability to detect all three deployment t

[2021-05-05 05:38] HoangTran1993 commented on #791
I have the same error. Any help please?

[2021-05-11 20:10] nabbasi-softpak opened #854 "Form based/REST API authentication"
Hello,

I have just getting started with Quarkus... I m playing around JPA, RestEasy but I m stuck on login mechanism. I want to know how can I login a user using REST api and how can I submit my request to the login endpoint.

I tried with the following :
Define quarkus.http.auth.form.enabled=true
And submitting request to j_security_check using login.html. I have also created two users using Sta

[2021-05-12 14:22] #854 closed

[2021-05-13 15:40] sberyozkin commented on #840
@LinoMDS Sorry for a delay, it is better be asked in StackOverflow or Zulip.

FYI, this PR, https://github.com/quarkusio/quarkus/pull/16634, will make it possible to restrict the authentication method to specifc paths starting from `2.0.0.Alpha3` - right now all authentication methods apply to all of the endpoint space.
In your case you'd configure that for this and that path `basic` authenticatio

[2021-05-13 15:40] #840 closed

[2021-05-13 15:45] sberyozkin commented on #836
@Tin-Nguyen Sorry for a delay - it is better to ask in StackOverflow or Zulip.

The reasons these are different are most likely to do with the fact that the asymmetric key signing process always produces different signatures, if you were to use a secret key it would be the same all the time.

FYI, by default, ID and access tokens are saved as cookies - and they are also injectable into the endpoin

[2021-05-13 15:45] #836 closed

[2021-05-13 15:47] sberyozkin commented on #823
CC @patriot1burke

[2021-05-13 15:49] patriot1burke commented on #823
@davidhua94  Did you see this?

https://quarkus.io/guides/amazon-lambda-http

[2021-05-13 15:50] #823 closed

[2021-05-13 15:51] sberyozkin commented on #819
@aosama

Sorry for a delay

Can you please add
[code]

will also update the docs, thanks

[2021-05-14 07:27] max-tian opened #860 "Cannot recognize maven-default-http-blocker"
In maven settings.xml file, there is a piece of code like below:
`    <mirror>
      <id>maven-default-http-blocker</id>
      <mirrorOf>external:http:*</mirrorOf>
      <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
      <url>http://0.0.0.0/</url>
      <blocked>true</blocked>
    </mirror>
`
I believe the maven settings parser doesn't support this 'block'.

[2021-05-14 13:01] sberyozkin commented on #819
@aosama Docs have been updated: https://github.com/quarkusio/quarkus/pull/17210

[2021-05-14 13:01] #819 closed

[2021-05-14 13:02] sberyozkin commented on #772
We can close it now I believe

[2021-05-14 13:02] #772 closed

[2021-05-19 02:03] ggianini opened #862 "Readme URI returns error 404"
https://github.com/quarkusio/quarkus-quickstarts/blob/main/getting-started-knative/README.md

[2021-05-19 18:23] jeanabraham opened #863 "Using rest-client to @POST body fails with error RESTEASY003215"
Hi,

I have a RESTEasy service to call an POST endpoint but it keeps failing with the below error. It works when I POST a String rather than a custom Pojo. Any ideas?

[code]

[code]

[code]

[2021-05-20 12:46] jeanabraham commented on #863
Closing this issue as the pom.xml was missing this dependency:

[code]

[2021-05-20 12:46] #863 closed

[2021-05-24 14:48] includestdlibrary commented on #862
is this issue still open?

[2021-05-24 14:50] includestdlibrary commented on #862
I want to work on this issue can you suggest me  ways to get started, I am a beginner in contributing to open source community.

[2021-05-24 17:13] ggianini commented on #862
Hi, Ritvik.

Clone the repo and make a pull request fixing the issue.

Em seg., 24 de mai. de 2021 às 11:51, Ritvik Shukla <
***@***.***> escreveu:

[2021-05-24 21:31] includestdlibrary commented on #862
Hello, Thanks  for helping! :)

[2021-06-09 08:12] lkrzyzanek commented on #728
I just hit same issue because there is no mention about enabling evnets in
https://quarkus.io/guides/smallrye-graphql#graphql-java

Once I put `quarkus.smallrye-graphql.events.enabled=true` in `application.properties` it started working.
Would be great to have it documented.
Thanks!

[2021-06-09 23:04] Leonardofreua opened #879 "Hibernate Reactive Panache with multple Datasources"
I'm trying to connect to two different databases (both with reactive connection), but I'm not able to create a connection pool for the second database and continue using Panache.

I tried to use the [@ReactiveDataSource](https://quarkus.io/guides/reactive-sql-clients#multiple-datasources) annotation as it is in the Quarkus documentation, but I can't set this connection for some entities to perform

[2021-06-11 06:25] rsvoboda opened #881 "kafka-bare-quickstart fails with Unsatisfied dependency error"
kafka-bare-quickstart fails with Unsatisfied dependency error with Quarkus main, running just `mvn clean package -DskipTests` in kafka-bare-quickstart module.

`kafka-bare-quickstart fails with Unsatisfied dependency for type java.util.Map<java.lang.String, java.lang.Object> and qualifiers [@Named(value = "default-kafka-broker")]`

[code]

[2021-06-11 06:35] rsvoboda commented on #881
@cescoffier can you check this pls?

[2021-06-11 07:03] cescoffier commented on #881
It's because of the change from @Named to @Identified.

[2021-06-11 07:12] rsvoboda commented on #881
Thanks, you are quick with the PR, I can scratch my wip changes :)

Can you please link the Quarkus PR?

`javax.inject.Named` => `io.smallrye.common.annotation.Identifier` is sort of vendor lock in, do you thing users / customers will be fine with that?

[2021-06-11 12:18] cescoffier commented on #881
I will check for the PR.

We decided to switch to @Identifier because @Named was not correct. It
comes with a certain semantic ***@***.*** can give you the details) that was
incorrect in this case.

On Fri 11 Jun 2021 at 09:12, Rostislav Svoboda ***@***.***>
wrote:

[2021-06-12 05:47] liuzqt opened #883 "overwrite DevServices in hibernate-orm-quickstart"
Can we overwrite the default DevServices in dev mode?
I was using postgresql, so it tried to start the dev db from container. However, I have my own dev db there and have many prepared data for dev, basically I want to overwrite the db provided by DevServices, any way to do that?

[2021-06-13 16:16] cescoffier commented on #883
Dev service is only enabled if you don't configure the data source, so if you configure and it will be disabled.
You can also disable it from the configuration.

[2021-06-16 02:34] liuzqt commented on #883
thanks, I've successfully disabled it and now dev will connect to my specified db.

[2021-06-16 02:34] #883 closed

[2021-06-16 02:43] liuzqt opened #887 "how to manually configure Hibernate hibernate-orm-quickstart"
I used to use hibernate with its own APIs like `Configuration`, `ServiceRegistry`, and I would like to add some customized things in `Configuration` such as adding customized triggers, indexes using DDLs.   Specifically, something like this:
[code]

Not pretty familiar with JPA-style APIs, I know they are somehow equivalent or similar to Hibernate's own APIs.

So what I want to do is, still, have

[2021-06-16 03:04] liuzqt commented on #887
it seems that `AuxiliaryDatabaseObject` is a hibernate specific thing, so I guess I might have to use hibernate native style bootstraping?

[2021-06-16 05:57] cescoffier commented on #881
Closed by #882

[2021-06-16 05:57] #881 closed

[2021-06-16 18:29] liuzqt opened #888 "hibernate-orm how is entity registered in the example?"
I was playing around `hibernate-orm-quickstart`, one question to me is that how we register the entity class? It seems that this is done implicitly, but I can not figure out how quarkus do this when bootstrapping hibernate......

My previous experience was using hibernate native bootstrapping by explicitly calling `addAnnotatedClass`, which is quite different from quarkus example.

[2021-06-16 19:36] cescoffier commented on #888
Quarkus detects the entity at build time.

[2021-06-16 19:36] #888 closed

[2021-07-11 06:30] drsarutobi8 opened #901 "failed to build hibernate-reactive-panache-quickstart"
[drsarutobi@localhost hibernate-reactive-panache-quickstart]$ ./mvnw install

[INFO] Scanning for projects...
[INFO]
[INFO] -----------< org.acme:hibernate-reactive-panache-quickstart >-----------
[INFO] Building hibernate-reactive-panache-quickstart 1.0.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources

[2021-07-13 06:37] drsarutobi8 commented on #901
I copied the application.properties from hirbernate-reactive-quickstart (Non-panache version), and it seems to work just fine.

[code]

[2021-07-13 08:20] gsmet commented on #901
@drsarutobi8 is it with the main branch or the development one?

@DavideD can you have a look at what's going on there?

Thanks!

[2021-07-18 18:44] Sandrolaxx commented on #826
I have de same question, panache uses Mutiny Session like hibernate-reactive, I opened a PR for this https://github.com/quarkusio/quarkus-quickstarts/pull/904

[2021-07-24 02:56] drsarutobi8 commented on #901
I believe it is main branch

[2021-07-26 15:39] DavideD commented on #901
I'm having a look at this

[2021-07-26 15:55] DavideD commented on #901
I've created this PR: https://github.com/quarkusio/quarkus-quickstarts/pull/910

[2021-08-11 07:11] AlexSun1995 commented on #593
it this issue solved? I encountered the same issue too~

[2021-08-11 10:29] gsmet commented on #593
We updated the doc here: https://quarkus.io/guides/validation#hibernate-validator-extension-and-cdi, especially:

[2021-08-20 01:04] luminecs opened #923 "Failed to read artifact descriptor for io.quarkus:quarkus-maven-plugin:jar:2.1.3.Final"
I am creating the first Quarkus Application using the command line, but there is a error **Failed to read artifact descriptor for io.quarkus:quarkus-maven-plugin:jar:2.1.3.Final**. How to solve this problem? I just want to create a simple Quarkus application. Thanks

OS: Windows 10 || wsl
Maven: 3.8.2
Command Line: cmd || powershell || bash

![mvn1](https://user-images.githubusercontent.com/244936

[2021-08-20 07:27] luminecs commented on #923
The issue has been solved. It was caused by an error maven repository url...

before modification:

[code]

after modifacation:
[code]

[2021-08-20 07:27] #923 closed

[2021-08-24 09:41] angelozerr opened #924 "Promote `.qute.html` file extension for having Qute toolings"
It should be really nice to promote the use of `.qute.html` instead of just `.html` to benefit with Qute toolings. In vscode-quarkus we support Qute syntax coloration but it works (automaticly) when the file ends with `.qute.html`. We had this dicussion with @maxandersen .

A quick search is to rename:

 * https://github.com/quarkusio/quarkus-quickstarts/blob/main/qute-quickstart/src/main/resource

[2021-09-02 16:23] ge0ffrey opened #930 "All quickstarts's pom.xml files should use Maven XSD"
### Description

The getting started quickstart's pom.xml file:
  https://raw.githubusercontent.com/quarkusio/quarkus-quickstarts/main/getting-started/pom.xml
starts with

[code]

No XSD, so no code completion in IDE nor validation.

### Implementation ideas

Change it into

[code]

for **all** quickstarts.

[2021-09-08 09:30] jsmrcka opened #935 "Implement Oracle datasource quickstart"
Add a quickstart that shows Quarkus datasource functionality using the Oracle datarouce (`quarkus-jdbc-oracle`).
Majority of the quickstarts use PostgreSQL (`quarkus-jdbc-postgresql`) and there is a lack of examples of other datasources.

It could be e.g. an analog of `hibernate-orm-quickstart`/`hibernate-orm-panache-quickstart` with postgresql swapped for oracle.

[2021-10-02 08:28] thanhlai1212 opened #948 "Is there solution to provide Role-Based Access Control to the fields of entity class?"
I want to set RBAC to "status" field of Appointment entity in order to "updateAppointment" endpoint only update or return the value of "status" field when user has role "admin":

[code]

I understand that @RoleAllowed annotation only support method and type target. So, I don't know how to resolve this?

This is Graphql endpoint:
[code]

and Appointment entity class:
[code]

Thank you for your supp

[2021-10-02 08:49] thanhlai1212 commented on #948
@gsmet @geoand
Sorry for interrupt. Please give me some advices. Thank you.

[2021-10-02 09:41] thanhlai1212 commented on #948
This has been dicussed and will be fixed at https://github.com/smallrye/smallrye-graphql/issues/960

[2021-10-02 09:41] #948 closed

[2021-10-03 07:27] phillip-kruger commented on #948
You can (for now) use a @Source field the achieve this.

So add the `@Ignore` on the `AppointmentStatus` field in `Appointment` and add a method in your endpoint that takes a `@Source Appointment appointment` parameter that then return the field value. And the ass `RolesAllowed` on that method.

It's a hack, but at least a workaround

[2021-10-20 01:54] anborg opened #965 "Failed to index: io.quarkus.hibernate.orm.PersistenceUnitExtension"
code:
https://github.com/anborg/ws-quarkus

I'm trying to setup a simple h2 based rest service. and stuck with this error.  Please let me know what is wrong. Thanks. Searching on the internet did not help.

[code]

[2021-10-21 10:57] Dennis-Nilsson opened #967 "Error occurred while destroying instance of bean io.quarkus.oidc.client.OidcClients"
Hi!

I discovered a problem with the oidc client that occurs when you shut down an application.

I am using Quarkus version 2.3.0.Final and the dependency:
[code]

The application.properties is the following:
[code]
The code in the filter-class:
[code]
The code in the service-class:
[code]
I run my application in a docker-container and starts the container with `docker-compose up` and shutdown the

[2021-10-21 10:59] #967 closed, assigned to nobody

[2021-10-23 11:33] lamemind opened #968 "Quartz Quickstart - "client style" scheduler Question"
Hello,

I'm playing around with quickstarts but I don't get how to get what I want.
I'd like to create a Quartz Cluster with (say...) 3 nodes and I want them to fire triggers and execute jobs. So far so good.
Then I'd like to add an "external client" which can ONLY schedule jobs within that cluster, but not execute jobs.

Is that possibile?
Should I switch to non clustered mode?

Thanks in advance

[2021-10-27 11:53] survivant opened #972 "security-keycloak-authorization-quickstart Guide and application.properties should be updated to https"
in [ https://github.com/quarkusio/quarkus-quickstarts/blob/main/security-keycloak-authorization-quickstart/src/main/resources/application.properties ]

we have this line

quarkus.oidc.auth-server-url=https://localhost:8543/auth/realms/quarkus

but in [ https://github.com/quarkusio/quarkus-quickstarts/blob/main/security-keycloak-authorization-quickstart/README.md ]

we use the port : 8180
http://lo

[2021-11-02 08:24] rsvoboda opened #975 "amazon-s3-quickstart fails with Quarkus main"
amazon-s3-quickstart fails with Quarkus main, I see the fail in our Jenkins daily runs for last 6 days.

https://github.com/quarkusio/quarkus-quickstarts/actions is red for quite some time (2 weeks) too.

[code]

[2021-11-02 08:27] rsvoboda commented on #975
CC @gsmet / @cescoffier / @marcinczeczko

[2021-11-03 15:59] jorgetovar opened #978 "AWS.SimpleQueueService.NonExistentQueue; see the SQS docs [amazon-sqs-quickstart]"
I'm trying to run the **Amazon** **SQS** tutorial but I always get the same error.

![image](https://user-images.githubusercontent.com/21094604/140095753-8d421929-a019-4a06-ba2d-95ac1b4024e7.png)

I follow all the basic steps of this tutorial [amazonsqs-guide](https://quarkus.io/guides/amazon-sqs)

environment variable set up

`QUEUE_URL=aws sqs create-queue --queue-name=ColliderQueue --profile lo

[2021-11-04 22:21] sberyozkin commented on #972
this issue has been resolved with https://github.com/quarkusio/quarkus-quickstarts/pull/973, thanks @survivant

[2021-11-04 22:21] #972 closed

[2021-11-05 11:10] MartinX3 commented on #816
https://github.com/quarkusio/quarkus/issues/10665 ?

[2021-11-11 07:59] rsvoboda opened #985 "infinispan-client-quickstart fails with java.lang.NoClassDefFoundError: org/junit/rules/TestRule"
infinispan-client-quickstart fails with  java.lang.NoClassDefFoundError: org/junit/rules/TestRule

`mvn clean verify -f infinispan-client-quickstart`

[code]

@karesti fyi

[2021-11-11 08:08] rsvoboda commented on #975
re-ping @gsmet / @cescoffier / @marcinczeczko - who is the right SME / who can look into this?

[2021-11-15 10:51] marcinczeczko commented on #975
Just pushed #987 as potential fix

[2021-11-15 10:56] cescoffier opened #988 "[GraalVM 21.3.0.r17] PostGres Native Issue"
All the quickstarts using the JDBC PostgreSQL driver do not work with the Java 17 support of GraalVM 21.3.0:

[code]

Impacted quickstarts:

* context-propagation-quickstart
* hibernate-orm-multi-tenancy-quickstart
* hibernate-orm-panache-quickstart
* hibernate-orm-quickstart
* hibernate-search-orm-elasticsearch-quickstart
* security-jdbc-quickstart
* security-jpa-quickstart
* spring-data-jpa-quic

[2021-11-15 10:59] cescoffier opened #989 "[GraalVM 21.3.0.r17] Class initialization of sun.lwawt.macosx.CInputMethod failed"
When using the Java 17 support of GraalVM 21.3.0, multiple quickstarts fail with:

[code]

It would be interesting to try on other operating systems.

Impact quickstarts:

* awt-graphics-rest-quickstart
* liquibase-mongodb-quickstart (Fixed -https://github.com/quarkusio/quarkus/pull/21566)
* liquibase-quickstart (Fixed - https://github.com/quarkusio/quarkus/pull/21566)
* tika-quickstart

[2021-11-15 11:01] cescoffier opened #990 "[GraalVM 21.3.0.r17] Avro quickstart failing during the native build"
When using the Java 17 support of GraalVM 21.3.0, the kafka-avro-schema-quickstart fails with:

[code]

[2021-11-15 11:03] cescoffier opened #991 "[GraalVM 21.3.0.r17] Kogito quickstarts build failure with Java 17"
When using the Java 17 support of GraalVM 21.3.0, multiple Kogito quickstarts fail:

* kogito-drl-quickstart -  Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: sun.management.Util.
* kogito-pmml-quickstart - com.oracle.svm.core.util.UserError$UserException: No instances of java.io.FilePermission are allowed in the image heap as th

[2021-11-15 11:05] cescoffier opened #992 "OpenTelemetry Native Build Failure"
When using the Java 17 support of GraalVM 21.3.0, the opentelemetry quickstart fails with:

[code]

Sounds like the substitution needs to be adapted.

NOTE: This issue is not related to Java 17. IT also happens with Java 11.

[2021-11-15 11:06] cescoffier opened #993 "[GraalVM 21.3.0.r17] Optaplanner Native Build Failure #992"
When using the JAva 17 support of GraalVM 21.3.0, the optaplanner quickstart fails with:

[code]

[2021-11-15 12:02] marcinczeczko commented on #975
Looks like infinispan is failing now:
[code]

[2021-11-15 12:43] Karm commented on #989
I haven't tested AWT extension on Mac. Given the nature of the extension, it will require porting.
You can assign this issue to me and I will see to either getting access to Mac HW and porting it or having someone who uses Mac to do it....

[2021-11-15 12:52] cescoffier commented on #989
@Karm Thanks.

I'm wondering why tikia and liquibase are using AWT?

[2021-11-15 12:52] cescoffier commented on #989
BTW @Karm I did the test with GraalVM CE. It would be interesting to do the same with Mandrel.

[2021-11-15 13:00] marcinczeczko commented on #978
@jorgetovar it is because the `QUEUE_URL` variable is JSON, and it should be a plain text URL to the queue. Looks like your aws cli profile has setup default output format to json. You can fix it in the `~/.aws/config` file by setting `output=text` for `localstack profile - see details in AWS CLI docs: https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-output-format.html

[2021-11-15 14:14] Karm commented on #989
@cescoffier We don't build Mandrel on Mac OS.

Anyone who needs to decode/encode any images, or to load/render anything fonts related needs AWT extension.
Even if you deserialize XML, you should be ready to decode images embedded in CDATA in XML documents...

So that is why things like Hibernate Validator pull AWT via JAXB.  Also Tika needs it to decode images etc. Not sure about liquidbase, but I

[2021-11-15 20:01] #992 closed

[2021-11-15 20:04] #990 closed

[2021-11-15 20:05] #985 closed

[2021-11-16 07:22] ozangunalp commented on #990
This is linked to https://github.com/quarkusio/quarkus/issues/21370

[2021-11-16 19:01] cescoffier commented on #975
I fixed the infinispan one yesterday.

[2021-11-16 19:26] #975 closed

[2021-11-18 09:34] galderz commented on #989
I had a quick go at this. The issue is already present in the Tika ITs when running on mac. I tried to mark `sun.lwawt` package as runtime initialized but then it failed with:

[code]

There's a [long issue](https://github.com/oracle/graal/issues/2842) on this topic on the graal (which @zakkak has worked on before), but the current status appears to be that [macOS is not supported for this](https:

[2021-11-18 10:20] cescoffier commented on #989
Oh, thanks @galderz! That's very interesting. I believe we would need to indicate that these quickstarts do not work on Mac in native (liquibase, tika, and the AWT one).

CC @maxandersen

[2021-11-18 11:44] galderz commented on #989
I've tried with Java 11 on MacOS and the Tika quickstart shows the same issue (assuming the runtime package enhancement I mentioned above), so this is not Java 17 related.

I didn't try `awt-graphics-rest-quickstart` but since it explicitly triggers awt features I'd expect to fail the same.

However, I've just tried `liquibase-quickstart` and it doesn't fail. The dependency there comes via jaxb, s

[2021-11-18 20:47] Sanne commented on #988
The core issue is https://github.com/quarkusio/quarkus/issues/21359

Just sent a PR to fix it.

[2021-11-19 12:51] galderz commented on #989
@cescoffier Sent https://github.com/quarkusio/quarkus/pull/21566 to fix the `liquibase` quickstarts.

[2021-11-21 16:13] cescoffier commented on #989
Thanks @galderz, I'm going to edit the main description to mention that the liquibase QS have been fixed.

[2021-11-21 21:17] rgmz commented on #860
What version of Maven are you running (`mvn -v`)? [The "blocked" option was added in 3.8.1](https://maven.apache.org/docs/3.8.1/release-notes.html#how-to-fix-when-i-get-a-http-repository-blocked), so make sure you aren't using an older version.

[2021-11-24 11:33] Eat-Sleep-HitBean opened #996 "wrong link in guide[TESTING YOUR APPLICATION]"
In the guide [TESTING YOUR APPLICATION](https://quarkus.io/guides/getting-started-testing) there is a wrong link in **13. Starting services before the Quarkus application starts**，when you click the link, it will by 404.

The pisition is the content following:
Quarkus provides a few implementations of QuarkusTestResourceLifecycleManager out of the box (see io.quarkus.test.h2.H2DatabaseTestResource

[2021-11-24 16:13] ffang commented on #993
Hi @cescoffier ,

We see this problem also in camel-quarkus. We can specify quarkus.native.additional-build-args
-J--add-opens=java.base/java.text=ALL-UNNAMED to workaround it in camel-quarkus. Or this flag will be added in quarkus NativeImageBuildStep.java  by default(like the fix for https://github.com/quarkusio/quarkus/issues/21359)?  Though the root cause is that the com.thoughtworks.xstream s

[2021-11-24 16:17] cescoffier commented on #993
@ffang that's interesting. Adding that to the extension, or declaring a build item could be interesting.
@Sanne, you did it explicitly. Do you think a build item can be useful?

[2021-11-25 14:52] Sanne commented on #993
@cescoffier no I don't think a build item would be useful. I did consider it, but there is no drawback in including the missing modules: it's only about visibility, it's not enforcing their inclusion.

So it's actually better to have a hard-coded list in core (feel free to add this one) than to have to test/validate multiple permutations of such flags.

[2021-11-30 16:35] fedinskiy opened #998 "PolicyEnforcerTest fails to start on RHEL with enabled FIPS mode"
When running command `mvn clean verify -pl security-keycloak-authorization-quickstart` on RHEL where FIPS mode is enabled, it fails with `java.lang.RuntimeException: org.testcontainers.containers.ContainerLaunchException: Container startup failed`

Environment:
Apache Maven 3.8.3 (ff8e977a158738155dc465c6a97ffaf31982d739)
Java version: 11.0.13, vendor: Red Hat, Inc.,
OS name: "linux", version: "4.

[2021-11-30 19:33] TheMercuryBeat opened #999 "java.lang.ClassNotFoundException: double"
I have downloaded version 2.5.0.Final of reactive-messaging-websockets-quickstart and when I start it I get the following error:

[code]
However in version 2.4.2.Final it works fine.

[2021-11-30 19:39] cescoffier commented on #999
The fix has already been applied in the main branch of Quarkus.

[2021-11-30 19:54] TheMercuryBeat commented on #999
Oh, I'm sorry, I didn't know

Thanks!!

[2021-12-01 15:49] fedinskiy commented on #998
Additional information:
It looks like `quay.io/keycloak/keycloak:15.0.2` image has problems while running on FIPS, but this can be solved with switching to `15.0.1` (see [1]).
At the same time, method `RestAssured.useRelaxedHTTPSValidation()` also fails on FIPS-enabled JVM, because it's tries to create its own X509TrustManager[2], which is prohibited(similar problems: [3][4]).

[1] https://github.

[2021-12-01 17:28] cescoffier commented on #999
No problem!

[2021-12-01 17:29] #999 closed

[2021-12-01 17:33] gsmet commented on #999
@TheMercuryBeat If I'm not mistaken, the fix is in 2.5.1.Final that has just been released.

[2021-12-07 19:28] ffang commented on #993
PR sent to address this
https://github.com/quarkusio/quarkus/pull/22005

Thanks @Sanne  @cescoffier !

[2021-12-08 19:44] #993 closed

[2021-12-15 16:00] tiagomistral opened #1018 "Reactive select items on a multi gets an "Session is currently connecting to database""
Hello,

I made a small change on **hibernate-reactive-panache-quickstart** and I cannot do multiple simple queries on a Mutiny.multi iteration:

Replace  FruitResource#get

    @Inject
    Mutiny.Session mutinySession;

    @GET
    public Uni<List<Fruit>> get() {
        //return Fruit.listAll(Sort.by("name"));
        return Multi.createFrom().items(1l,2l,3l,4l,5l,6l,7l,8l,2l,3l,4l,5l,6l,7l,8l,2

[2021-12-15 16:04] tiagomistral commented on #1018
Demo:
[hibernate-reactive-panache-quickstart.zip](https://github.com/quarkusio/quarkus-quickstarts/files/7720921/hibernate-reactive-panache-quickstart.zip)

Just download and run `mvn Quarkus:dev`

[2021-12-16 11:26] tiagomistral commented on #1018
I found out that if we change from `transformToUniAndMerge` to `transformToUniAndConcatenate` it works :)

[2021-12-16 11:26] #1018 closed

[2021-12-17 13:56] sberyozkin commented on #998
@fedinskiy Thanks for this report, sorry for delay, I've noticed it only now. Can you please open a Quarkus issue, `DevServices for Keycloak fails to start on RHEL with enabled FIPS mode` ? We are planning to move to `15.1.0`. We'll need to resolve the container issue first

[2021-12-20 21:38] VeitSanner commented on #831
hi @gsmet, could you help us in finding the LDAP quickstarter?

[2021-12-20 22:46] gsmet commented on #831
AFAIK, it was never created. /cc @sberyozkin

[2021-12-25 06:01] weir2010 commented on #735
`@POST
	@Path("list2")
	public Uni<QueryResultVO<Comments>> list2(@QueryParam("page") Integer page, @QueryParam("rows") Integer rows) {
		Uni<List<Comments>> panacheQuery = Comments.findAll().page(page - 1, rows).list();
		Uni<Long> count = Comments.count();
		return Uni.combine().all().unis(panacheQuery, count).combinedWith(this::computeFightOutcome);
	}

	private QueryResultVO<Comments> computeF

[2021-12-25 07:30] jiayaoO3O commented on #735
@weir2010
我看你骨骼精奇, 传授你一套太极拳, 这套拳法我只展示一次, 你细细品味, 自己对比一下我下面的代码和你的代码就可以了.

NotificationTestEntity这个类里面有两个字段, 一个是list, 一个是count.
NotificationRecordEntity这个类代表你数据库里面表对应的entity.

你先把quarkus框架升级到2.6.0.Final, 在代码最外层(Service层或者接口层都可以)加上@ReactiveTransactional注解确保开启了响应式事务.

你可以有三种方法实现这个功能 :
[code]
或者
[code]
或者
[code]
如果你还是看不懂, 那就继续看, 领悟了为止.

[2021-12-25 07:54] weir2010 commented on #735
@jiayaoO3O   NotificationRecordEntity  在哪个jar包？

[2021-12-25 08:06] weir2010 commented on #735
@jiayaoO3O
`@ReactiveTransactional
    @GET
    @Path("list-page/{pageIndex}/{pageSize}")
    public Uni<PageListDTO> listForPage(@PathParam("pageIndex") Integer pageIndex, @PathParam("pageSize") Integer pageSize) {
    	var page = Comments.findAll().page(pageIndex, pageSize);
        var chain = page.list()
                .chain(list -> {
                	PageListDTO pageListDTO = new PageListDT

[2022-01-03 16:22] fedinskiy commented on #998
@sberyozkin sorry for the delay, is the `DevServices fir keycloak` issue related to `quay.io/keycloak/keycloak` container, or to RestAssured method?

[2022-01-07 08:26] benkeil commented on #778
Any progress on that the last year?

[2022-01-07 11:32] gsmet commented on #778
@danielpetisme any chance you could have a look at this one and check if something can be done?

[2022-01-07 13:28] danielpetisme commented on #778
Unfortunately is related to the RocksDB project itself...
The issue is in progress
https://github.com/facebook/rocksdb/issues/7720

[2022-01-10 08:56] rsvoboda commented on #998
Please create issue in https://github.com/quarkusio/quarkus/issues

[2022-01-11 08:52] kshpak opened #1032 "Infinispan quickstart fails on FIPS compliant machines"
Running
[code]
fails with the following error on FIPS compliant machines (also tried locally without FIPS and tests succeeds)
[code]

FIPS is the main guess why it is failing

Full stacktrace:
http://pastebin.test.redhat.com/1020203

[2022-01-11 11:54] weir2010 commented on #735
`@GET
	@Path("list-page2/{pageIndex}/{pageSize}")
	public Uni<PageListDTO<Comments>> listPage2(@PathParam("pageIndex") Integer pageIndex,
			@PathParam("pageSize") Integer pageSize) {

		return Panache.withTransaction(() -> {
			PanacheQuery<Comments> findAll = Comments.findAll();
			Uni<Long> count = findAll.count();
			Uni<List<Comments>> list = findAll.page(Page.of(pageIndex, pageSize)).list();

[2022-01-11 11:54] #735 closed

[2022-01-13 13:32] benkeil commented on #778
The issue is now closed ☺️

[2022-01-15 17:53] iabughosh opened #1034 "Zero down time/rolling updates with Quarkus"
I have a service which runs on Quarkus 2.6.0.Final. My goal here is to achieve zero down time deployment using rolling update strategy. My service has CORS filter and micro-profile health plugin enabled and when I update my deployment image to a newer version while there is an active user, browser logs give the below message :

while xxx is my service endpoint.

My conclusion here is that q/health

[2022-01-17 14:37] DavideD opened #1035 "Add quickstart for multi-tenancy with Hibernate Reactive"
Similar to [the one for Hibernate ORM](https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-multi-tenancy-quickstart)

[2022-01-17 14:38] DavideD commented on #1035
I can take care of this

[2022-01-17 20:15] iabughosh commented on #1034
Moved issue to right repository.

[2022-01-17 20:15] #1034 closed

[2022-01-18 11:52] debu999 opened #1036 "Quarkus OIDC with internal idp provider - need to customize the code flow url"
Hi All,
We have a need to use a internal OIDC provider.

We have few additional parameters in the oauth code flow, need to know how its done with quarkus-oidc.

request params in our initial authorization code request is
1. response_type
2. client_id
3. scope
4. redirect_uri
5. resource
6. prompt

Using the default code flow , i am not sure how the url is built and by which class thus need help to

[2022-01-18 16:08] n1hility commented on #988
@cescoffier can we close the fix was merged?

[2022-01-18 16:09] cescoffier commented on #988
Yes, everything got fixed. So we can close it.

[2022-01-18 16:09] #988 closed

[2022-01-19 17:29] debu999 commented on #1036
Anything to do with regards to customize the code flow

[2022-01-20 02:33] debu999 commented on #1036
https://github.com/quarkusio/quarkus/issues/23025
Suggestions provided to look at.

[2022-01-20 02:33] #1036 closed

[2022-01-28 13:59] fedinskiy commented on #998
@sberyozkin , Quarkus issue: https://github.com/quarkusio/quarkus/issues/23268

[2022-02-08 08:11] rsvoboda opened #1050 "kafka-avro-schema-quickstart fails with latest Quarkus main"
kafka-avro-schema-quickstart fails with latest Quarkus main

`mvn clean verify -pl kafka-avro-schema-quickstart`

[code]

probably related to https://github.com/quarkusio/quarkus/pull/23340
CC @cescoffier @ozangunalp

[2022-02-08 08:15] cescoffier commented on #1050
The Pr has already been merged.

[2022-02-08 08:21] rsvoboda commented on #1050
rebasing

[2022-02-08 08:23] rsvoboda commented on #1050
module is passing, thanks

[2022-02-08 08:23] #1050 closed

[2022-02-15 15:26] fedinskiy opened #1056 "SQS tests of versions 2.2 fail on FIPS-enabled machines"
The source of the problem seems to be an old version of localstack containers. It looks like this fix was not applied to 2.2

https://github.com/quarkusio/quarkus-quickstarts/commit/76b33720e056724d7d7b30da3d1cfcc03513ff3c

Error log looks like that:

[code]

[2022-02-16 16:15] hhutzler opened #1058 "Quarkus test fails in security-keycloak-authorization-quickstart tutorial when using own keycloak Realm init scripts !"
**Error: Script upload is disabled**

**Working Scenario**
In the security-keycloak-authorization-quickstart tutorial the quarkus realm gets loaded sucessfully by script **quarkus-realm.json**
**Application.properties entry: quarkus.keycloak.devservices.realm-path=quarkus-realm.json**

In this script the keycloal versions is set to 6.0.0 !
 $ grep -i version quarkus-realm.json
  "keycloakVersion"

[2022-02-17 14:43] machi1990 opened #1060 "Provide example on how to setup redis host provider in the redis quickstarts"
This follows on https://github.com/quarkusio/quarkus/issues/23787

/cc @VanillaSpoon

[2022-02-17 15:02] machi1990 commented on #1060
@VanillaSpoon let me know if you'll be interested in this as well.

[2022-02-17 15:04] VanillaSpoon commented on #1060
@machi1990 Yea, I'll work on it :)

[2022-02-18 19:18] machi1990 commented on #1060
@VanillaSpoon the redis-quickstart is located here https://github.com/quarkusio/quarkus-quickstarts/tree/main/redis-quickstart

But development happen on the [development branch](https://github.com/quarkusio/quarkus-quickstarts/tree/development/redis-quickstart).
For now, I'll advise to fork the repository and play with the quickstarts a little bit to get the hang of them. Afterwards, we'll have a

[2022-02-21 19:18] evanshortiss opened #1065 "Quarkus ignores CTRL+C signal after Kafka topic exception"
I mistakenly misconfigured a connector and ran into this issue. It's minor, but a bit annoying.

The following is printed to stdout, then the `UNKNOWN_TOPIC_OR_PARTITION` is continuously printed until I manually sent a kill signal to the process:

[code]

A little while later it printed this log, then returned to printing `UNKNOWN_TOPIC_OR_PARTITION`:

[code]

The following was in my `application.

[2022-02-28 08:49] vanalex opened #1069 "Path to class wrong in jwt quickstart guide"
Hi,

following the quickstart guide https://quarkus.io/guides/security-jwt, there is a wrong path.

wrong => security-jwt-quickstart/src/**main**/java/org/acme/security/jwt/GenerateToken.java

I think it should be

right => security-jwt-quickstart/src/**test**/java/org/acme/security/jwt/GenerateToken.java

according to the example provided.

Many thanks and have a great day.

[2022-03-07 12:58] cescoffier commented on #1065
The `UNKNOWN_TOPIC_OR_PARTITION` is expected. Kafka retries Integer.MAX_VALUE by default. It will only stop after that (huge) number of attempts or if it reaches some timeout (I don't remember the default, it's a few minutes I think).

The cache dir issue is more annoying. I would need to know what's trying to read/write to this directory.

[2022-03-07 22:16] evanshortiss commented on #1065
The issue is the program ignoring SIGINT. The reason I mentioned `UNKNOWN_TOPIC_OR_PARTITION` it that SIGINT is ignored once this error occurs. I can shortren/simplify the description if that would help.

[2022-03-08 03:05] sangram725 opened #1074 "FAILOVER Broker host or url setup not available with AMQP connector ?"
Hi,
I was trying to achieve the failover from broker1 to broker2  qith AMQP-HOST attribute like we could achieve  a setup of the failover:(brokerhost1;brokerhost2;broker) in qpid-jms.
I didn't find a way to achieve the failover broker setup when using smallrye-reactive-messaging-AMQP.
Kindly advise if any way to do the setup.

Thanks
Sangram

[2022-03-08 07:07] cescoffier commented on #1065
The retries are executed by the Kafka NetClient which cannot be interrupted (at least last time I checked).

[2022-03-08 07:08] cescoffier commented on #1074
I don't believe this is supported.
How does the qpid configuration look like?

[2022-03-08 15:34] sangram725 commented on #1074
quarkus.qpid-jms.url=failover:(amqp://<server1 name>:5672,amqp://<server2 name>:5672,amqp://<server3 name>:5672)

Will this function be added and why its not added in the AMQP connector?